[2020-05-21 15:33] Johnwulp commented on #340
For some reason the downgrade doesn’t work. My container is running 1.13.0, but it can’t connect to my usb stick.

`zigbee2mqtt:error 2020-05-21 17:31:28: Error: Failed to connect to the adapter (Error: SRSP - SYS - ping after 6000ms)
    at ZStackAdapter.<anonymous> (/zigbee2mqtt-1.13.0/node_modules/zigbee-herdsman/dist/adapter/z-stack/adapter/zStackAdapter.js:71:23)
    at Generator.throw (<anon

[2020-05-21 15:40] richard-scott commented on #340
@Johnwulp I had to restore just that component from a snapshot.

[2020-05-21 15:52] Johnwulp commented on #340
Thanks just did a restore, but issue remains... any other ideas?

[2020-05-21 16:14] Johnwulp commented on #340
I did a full reboot, and it worked again. Don’t know why the container wasn’t able to access the usb stick 🤯

[2020-05-23 16:06] Koenkk commented on #340
Should be fixed now

[2020-05-23 16:23] Koetjeboeh commented on #340
Can't download the normal version now on a new install, only the edge is visible?

[2020-05-23 17:11] to4ko commented on #340
only edge version available. stable one is missing...
![image](https://user-images.githubusercontent.com/45161980/82736318-7d567d80-9d31-11ea-8dc1-f42155d24d23.png)

[2020-05-23 17:11] Koenkk commented on #340
@danielwelch could you take a look at this?

[2020-05-23 17:41] Koetjeboeh commented on #340
Also it won't discover any device? On the old install everything went by smooth.

[2020-05-23 18:41] danielwelch commented on #340
Is it still the case that you can’t see the stable version at all as an installation option? Have you tried removing the repository, restarting, and re-adding it? I ask because this is a first, and the images are all now uploaded correctly on docker hub.

[2020-05-23 18:53] Koetjeboeh commented on #340
Removed the plugin, rebooted and added repo again, still the same.
![IMG_20200523_205306](https://user-images.githubusercontent.com/43536192/82738396-821e3000-9d37-11ea-9138-14ffd8bc3b8d.jpg)

[2020-05-23 19:07] IceEyz commented on #340
I just ran into the same issue, this is what the supervisor logs says:
`20-05-23 19:02:12 WARNING (MainThread) [supervisor.store.data] Can't read /data/addons/git/7ad98f9c/zigbee2mqtt/config.json: does not match regular expression for dictionary value @ data['schema']['experimental']['transmit_power']. Got 'int(-22,19)?'`

[2020-05-23 19:08] Koetjeboeh commented on #340
Same as above, but with screenshot
![IMG_20200523_210744](https://user-images.githubusercontent.com/43536192/82738655-8cd9c480-9d39-11ea-8c30-b84dd54ba5c8.jpg)

[2020-05-23 19:09] danielwelch commented on #340
Ok, let me roll back that pull request and I’ll rebuild and push as a bug fix release. Thanks.
On May 23, 2020, 2:07 PM -0500, IceEyz <notifications@github.com>, wrote:

[2020-05-23 22:09] Koetjeboeh commented on #340
Can you update when ready?

[2020-05-24 12:40] to4ko commented on #340
1.13.1 just get downloaded and installed

![image](https://user-images.githubusercontent.com/45161980/82754340-ef33d300-9dd4-11ea-8353-e32669c0b95d.png)

[2020-05-24 12:46] danielwelch commented on #340
Ok, the breaking change on the master branch has reverted. I also pushed a new bugfix version `1.13.1.1`, but there are no differences between the new version and 1.13.1 other than the updated configuration.

The homeassistant supervisor must parse/inspect `config.json` from the master branch immediately.

[2020-05-24 12:46] to4ko commented on #340
@danielwelch trying to update running instance

20-05-24 12:43:28 INFO (SyncWorker_11) [supervisor.docker.interface] Update image dwelch2101/zigbee2mqtt-amd64:1.13.0 to dwelch2101/zigbee2mqtt-amd64:1.13.1.1
20-05-24 12:43:28 INFO (SyncWorker_11) [supervisor.docker.interface] Pull image dwelch2101/zigbee2mqtt-amd64 tag 1.13.1.1.
20-05-24 12:43:30 ERROR (SyncWorker_11) [supervisor.docker.interface]

[2020-05-24 12:47] danielwelch commented on #340
@to4ko wait until the `1.13.1.1` image is pushed to docker hub

[2020-05-24 13:18] danielwelch commented on #339
@adrianandreias the README here expects some basic understanding of home assistant. If you're unsure of the basics, like where to put configuration YAML or how to configure the UI, you should read the home assistant docs first (at the very least, the Configuration and Lovelace UI sections).

I do agree that the docs should be reworked, and I'd actually like to integrate them with zigbee2mqtt docs.

[2020-05-24 13:18] #339 closed

[2020-05-24 16:31] Swiftwork commented on #340
@danielwelch not to put any unnecessary pressure, but it still doesn't seem to be pushed to docker hub? Is this normal or has something gone awry again? :)

[2020-05-24 16:34] to4ko commented on #340
Thanks! Updated just fine! No issues at all

[2020-05-24 16:37] sermayoral commented on #340
@Swiftwork 10 minutes ago it appeared to me. Be patient

[2020-05-24 22:06] danielwelch commented on #340
Are we good to close this now?

[2020-05-24 22:25] wojciechczyz commented on #340
Strange I am still at 1.13.0 and update does not seem to be detected. I have standard version, not Edge, was only Edge bumped up?

[2020-05-25 09:51] minnenratta commented on #340
Update to 1.13.1.1 done. ty.

Am Mo., 25. Mai 2020 um 00:26 Uhr schrieb wojciechczyz <
notifications@github.com>:

[2020-05-25 11:04] Koetjeboeh commented on #340
Working now! Thanks!

[2020-05-25 11:45] #340 closed

[2020-05-25 12:16] zeputt opened #343 "Not able to add the repository"
Hi,
I get this when I try to add the repository to HACS:

Repostitory structure for v1.6.0 is not compliant
https://github.com/danielwelch/hassio-zigbee2mqtt

HACS version:
Integration version: | 1.0.3
Frontend version: | 202005242033

HA version:
0.110.2

[2020-05-25 12:18] zeputt commented on #343
Sorry!! My bad.
Added it at the correct place now... Sorry!!

[2020-05-25 12:18] #343 closed

[2020-05-25 15:23] Karolis92 opened #344 ""log_output" configuration option ignored"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.13.1.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**
HassOS 3.13 on Raspberry Pi 3 Model B

**Description of problem:**
I'm trying to minimize wear on sd card, so I added fallowing to config (removed `file`):
[code]
But logs says:
[code]
Seems this option is not added to `config.json`. N

[2020-05-27 22:01] EpicLPer commented on #315
Issue is not stale, Stalebot...

[2020-05-28 01:14] Dimand commented on #336
Would be great to get this fixed. Currently no way to test the new Zigbee herdsman support of the Conbee with hassio that I have found.

[2020-05-29 09:43] #314 closed

[2020-05-30 21:12] #316 closed

[2020-06-03 15:04] hoainamctin commented on #340
I can't install with below error. Is there any idea for this ? Thanks

20-06-03 14:57:42 ERROR (SyncWorker_5) [supervisor.docker.interface] Can't install dwelch2101/zigbee2mqtt-armhf:1.13.1.1 -> 404 Client Error: Not Found ("no such image: dwelch2101/zigbee2mqtt-armhf:1.13.1.1: No such image: dwelch2101/zigbee2mqtt-armhf:1.13.1.1").

[2020-06-08 12:38] jeffreyvanhees commented on #267
Same problem! Docker/DSM6 (CC2531), tried everyting. Resetbutton, reconnect stick, using lower versions of Zigbee2MQTT, nothing works.

[2020-06-08 12:52] dgreebe commented on #267
I also had problems lately with zigbee2mqtt but because I added 7 devices last couple of days, I though I was hitting a limit or something like that.
After updating the coordinator with source-routing, I have no issues since then... maybe coinsedence, maybe a bug like other users...

[2020-06-08 12:56] jeffreyvanhees commented on #267
Hmm, I've bought 12 IKEA GU10-bulbs yesterday and was trying to connect them. Everything was working (with 20+ devices), but it suddenly stops working after a couple of hours by showing this message. I have a lot IKEA-bulbs which also act as a router, so I don't think it could be a limitation.

[2020-06-08 14:02] dgreebe commented on #267
@jeffreyvanhees that is almost the same issue I had. Bought couple of GU10 bulbs and pairing and all fine.. but suddenly it collapse. Even with about 19 routers (ikea).
I moved to source routing, after couple of hours of frustration and reflashing.. but now... more than 24 hours no issues.

Don't know If its a limitation but with source routing no issues.

[2020-06-08 17:39] dnedeltchev opened #345 "Hive motion sensors MOT003 are now supported but no lux or temperature is being reported"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
latest
**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

Raspberry Pi 4, latest OS, latest add-ons, etc.

**Description of problem:**
MOT003 Hive motion sensors are supported according to the zigbee2mqtt supported devices page and indeed they do pair successfully and I can see all sensors but.

[2020-06-08 17:44] dnedeltchev commented on #345
Correction on the data that is successfully received from the hive sensor... I get the following, it's not _just_ motion (occupancy) and battery.

occupancy
tamper
battery low
linkquality

[2020-06-09 17:48] #345 closed

[2020-06-09 17:49] dnedeltchev commented on #345
not related, have raised an issue on Koenkk

[2020-06-10 19:13] umbertomosca opened #346 "zigbee2mqtt 1.14.0 addon unable to start on HassOS"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

HassOS 4.10

**Description of problem:**
1.14.0  addon unable to start on HassOS.
There are some strange symbol on conf file (port: >-)

**Your entire configuration from the frontend (with sensitive fields redacted)**:
[code]
data_path: /share

[2020-06-10 19:14] #346 closed, assigned to nobody

[2020-06-13 09:15] Kisty commented on #346
I've had the same error and can't get it working either on Raspberry Pi 3B. Did you find a solution?

[2020-06-13 18:46] #308 closed

[2020-06-17 05:18] DiegoFoxy opened #348 "After updating to 1.14.0 i can't assign new devices."
**zigbee2mqtt add-on version (if edge, please report commit hash):**
#1.14.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

Raspberry pi 4 4GB
Hass.io on docker
HA 0.111.3

**Description of problem:**

Currently I have 5 devices connected to zigbee2mqtt and works fine.
But i can't assigned newone.
I trying with Aqara motion sensor, Aqara door window sensor,

[2020-06-17 17:16] husq101 opened #349 "Clean Zigbee2MQTT add-on install won't start (Failed to connect to the adapter)"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.0
**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**
RPI4, HASS.IO version 0.111.3 with Zigbee2MQTT add-on installed.

**Description of problem:**
Zigbee2MQTT won't start, tried things like rebooting the system, changing the config file, checking free-memory space, re-installing the add-on,

[2020-06-20 13:50] dunxd opened #350 "Clarification about configuration, with examples"
I am relatively new to HASSIO and ZigBee.  I don't understand the documentation on requirements for configuring hassio-zigbee2mqtt, and feel that the documentation could be a little clearer for newbies.  I find the following confusing:

The configuration examples given, and the configuration for the zigbee2mqtt add-on are in YAML format not JSON, so this paragraph seems to say something different

[2020-06-22 08:27] artem-dudarev commented on #313
@danielwelch This issue is not resolved

[2020-06-23 06:44] tego1 commented on #348
I have the same problem after v. 1.14 (main & edge)
Win 10 + vmware + Home Assistant 0.111.4
I had only 1 device ("MiJia wireless switch (WXKG01LM)") paired before the update.
But after the update I tried to pair another 2 -II- swithes, 3x MiJia temp&humi sensors and 2x MiJia magnetic door switches. But now everytime I manage to start pairing it fails with interview unsuccessful error. I tried USB

[2020-06-23 12:38] ThomasHFWright commented on #267
I'm having the same issue. Was working great for about a week with 18 Osram bulbs, but then suddenly the CC2531 could not be connected to. I tried unplugging and replugging the stick, uninstalling the ad-on and reverting all settings and config files to default, device by-id. Can't get any different result!

Using HA 0.111.2, upgrading to 0.111.4 didn't help.
zigbee2mqtt 1.14.0

My logs:
[code]

[2020-06-24 03:44] #323 closed

[2020-06-26 10:52] niek1992 commented on #349
What FW is on the CC2531 stick? Sounds like you have firmware that isn't loaded correctly and misbehaves a bit. Did you try removing the stick for a few minutes and reinsert it to see if that fixes your problem?

[2020-06-26 12:40] korro1975 commented on #349
Hi husq101. I had the same issue and the only way to be able to have zigbee2mqtt up and running was inserting the stick once the raspberry is powered on and running for a while. Try the suggestion of niek1992 and turn on the raspberry and after a few minutes insert the stick. Good luck!.

[2020-06-26 12:53] niek1992 commented on #349
To add to @korro1975, this can also be caused by the use of a underpowered power adapter. Do you use a correctly specced one?

[2020-06-26 13:49] husq101 commented on #349
Hi! @niek1992 @korro1975
I used the latest version of KoenK for flashing. Checked the power adapter (original Raspberry adapter) which results in 5.1 Volts 2,5A. But will try nother adapter when I found one and see if that fixes the problem. Could be the issue perhaps.

Any ideas on what I can do more?

[2020-06-26 15:23] korro1975 commented on #349
Hi @husq101.
Unfortunately I'm completely junior in this matter and I only have followed links and public documentation so no more ideas on this matter I can provide, sorry.
Regards.

[2020-06-30 19:37] artem-dudarev opened #351 "external_converters option does not work"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

HassOS

**Description of problem:**
external_converters option does not work.

**Your entire configuration from the frontend (with sensitive fields redacted)**:
[code]

**Your logs from Hass.io**
[code]

[2020-07-01 07:08] maruiz81 opened #352 "The Zigbee2mqtt add-on can't start later of 1.14.1 update"
**zigbee2mqtt add-on version:**  1.14.1

**Rasberry Pi 3 B**
**Home Assistant version  0.111.4**

**Description of problem:**
The version 1.14.0 was working like a charm I have updated 5o 1.14.1 and them it can't start. I have tried to uninstall and install it again a not success. In the logs, I have the next message:

20-07-01 07:09:41 ERROR (SyncWorker_5) [supervisor.docker] Can't create contain

[2020-07-01 08:06] Kisty commented on #352
Ah, this happened last time. See #340. The ARM image isn't being built when it's released. Glad I hadn't tried to install the update.

[2020-07-01 08:18] maruiz81 commented on #352
Thank you for the update, it is the first time it fails to me. I am gonna try with the edge version meanwhile

[2020-07-01 21:16] joe540 commented on #336
@mdegat01 This may appear stupid, but I'm unable to build the SSH addon locally so I'm not able to add e2fsprogs-extra to requirements.txt

Would you be able to point me in the right direction? Without the immutable config file, the addon rewrite the file everytime it's restarted :(

Thanks a lot for that workaround!

[2020-07-01 21:31] joe540 commented on #336
OK, I was able to install it in the running container but didn't have the right to set the immutable flag.
I had to install it in the main docker container of Home Assistant and was able to set the flag.

Sorry for that!

[2020-07-02 03:21] #326 closed

[2020-07-03 09:35] IronButterfly commented on #351
The same issue. Please add support for external converters.
Thanks.

[2020-07-03 14:04] #328 closed

[2020-07-03 14:11] smarti opened #355 "Zigbee2mqtt doesn't start after update to 1.14.1"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**
Raspberry PI 4 (4 GB model)
HassOS 4.10 / Supervisor version 228
Zigbee usb: usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2192166-if00

**Description of problem:**
Since the 1.14.1 update I am no longer able to start zigbee2m

[2020-07-03 18:04] #324 closed

[2020-07-04 09:06] Jarpetnee commented on #350
Agreed @dunxd. I also find the documentation for this very confusing...

[2020-07-05 11:05] nurikk commented on #351
Bump

[2020-07-06 09:34] stefagi commented on #355
I have the same problem, restarting the host, sometimes zigbee works for a few minutes, then it returns in error.
My system runs on Virtualbox.

zigbee2mqtt:info  2020-07-06 10:45:41: Logging to console and directory: '/share/zigbee2mqtt.cc2531/log/2020-07-06.10-45-41' filename: log.txt
zigbee2mqtt:info  2020-07-06 10:45:42: Starting zigbee2mqtt version 1.14.1 (commit #unknown)
zigbee2mqtt:info  2

[2020-07-06 14:11] jcampoy commented on #335
The issue is not fixed. Reproduced on zigbee2mqtt Add-on version 1.14.1

[2020-07-08 14:10] #288 closed

[2020-07-08 15:10] renedis opened #356 "DeCONZ support in config file"
serial:
  port: /dev/ttyACM0

This is used normally but since zigbee2mqtt 1.14 support has come for the Conbee sticks it needs te following config in hassio. Yet this isn't allowed at this point:

serial:
  adapter: deconz

See also:
https://www.zigbee2mqtt.io/information/supported_adapters.html
https://github.com/Koenkk/zigbee-herdsman/issues/72

[2020-07-10 01:00] #332 closed

[2020-07-10 05:17] formatBCE commented on #352
Same here. I don't think it's normal to post updates in this manner.

[2020-07-12 03:34] Tam-Lin commented on #355
I'm having the same problem.

[2020-07-12 07:46] tayanov commented on #351
+1

[2020-07-12 12:21] groenmarsmannetje commented on #355
I have this too. This requires an urgent fix because the whole add on is now useless.

[2020-07-12 12:59] traylenator commented on #267
Same as @ThomasHFWright  however not using the v3 firmware but the June2019 v1 release.

[2020-07-13 20:27] marius-se commented on #352
Same here

[2020-07-13 20:39] marius-se commented on #352
Nevermind: After restarting the host system zigbee2mqtt magically appeared in the add-ons panel...

[2020-07-14 05:39] korro1975 commented on #349
Hi Team,
I still have the same issue. The only way to have z2mqtt service running is unplug and plug the stick. Were you able to solve this issue. I have trying with "uhubctl" commands but unstable behavior is obtained.
I would be very grateful if you have solved this issue in some way.
Thanks in advance.

[2020-07-14 21:44] nurikk commented on #351
this issue resolved in #353, kindly help to merge

[2020-07-16 01:35] Stupco opened #357 "Error while starting zigbee-herdsman"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
Current version: 1.14.1
**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

Home Assistant running on Raspberry Pi 3 B+ with a flashed CC2531 Zigbee Stick

name | value
--- | ---
arch | armv7l
chassis | embedded
dev | false
docker | true
docker_version | 19.03.8
hassio | true
host_os | HassOS 4.

[2020-07-16 05:04] Stupco commented on #357
I got it working by chaning the USB port of the Pi and then restarting. I was able to add all my devices and then upon another HA restart it revers back to the abovementioned error.

Home Assistant now has additional logs though to review:

[code]

[2020-07-16 05:09] Stupco commented on #357
And here is proof of it working eventually (after a few restarts), any ideas how to get it working more reliably?

[code]

[2020-07-16 23:48] Stupco commented on #357
Note: This may be related to #355 ? If so you can close/merge issues. Sorry I only just installed this addon so it wasn't related to an "upgrade" so I didn't connect the dots.

[2020-07-17 14:29] pplucky commented on #311
No luck in getting this implemented?

[2020-07-19 16:27] #325 closed

[2020-07-19 22:30] zhaotianhao1234 opened #358 "All devices connected to MQTT do not update their status"
zigbee2mqtt-edge
[code]
Debug information end
[code]

[2020-07-20 21:13] renedis commented on #356
same issue here:
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/336

there is already a pull-request.....

[2020-07-22 07:56] sniperxnl opened #359 "can not install Zigbee2mqtt"
I have the latest Home assist
When i place the link, it don;t find any add ons, someone a idear?
![image](https://user-images.githubusercontent.com/16321561/88150352-92506f80-cc01-11ea-8840-9ef881a7ffdc.png)

[2020-07-22 08:02] #359 closed

[2020-07-22 21:54] bruvv opened #360 "404 Client Error: Not Found ("manifest for dwelch2101/zigbee2mqtt-amd64:1.14.2 not found")."
When updating I am getting the following error:
[code]

Looks like it is going wrong at the azure pipeline and it's not being pushed to docker:
https://dev.azure.com/danielwelch2101/hassio-zigbee2mqtt/_build/results?buildId=207&view=logs&j=d822dde3-66a5-599f-9c9e-ed09ffe6609f&t=22f3bdd9-8b84-57c5-833f-5accb3b8a54d

[2020-07-22 21:57] richard-scott commented on #360
I was just about to open an issue on the same thing :-)

[2020-07-22 22:43] freman commented on #360
Is this why HA is like "can't install, unknown error, check logs"?
Cos if so I'll just go to work and try later lol

[2020-07-22 23:26] rbron01 commented on #360
The development version has been uploaded but not the production one.

[2020-07-23 05:58] dgreebe commented on #358
You are missing in the advance settings the option, report: true

[2020-07-23 07:05] Koenkk commented on #360
Fixed

[2020-07-23 07:05] #360 closed

[2020-07-23 22:31] #336 closed

[2020-07-24 06:41] InvertedMinor commented on #355
Despite numerous restarts and reboots 1.14.2 does not start. the edge version does start...luckily

[2020-07-24 10:01] 0xygen8 opened #364 "Startup delay in Home Assistant add-on"
**zigbee2mqtt add-on version 1.14.2
**Operating environment  homeassistant/intel-nuc-homeassistant:0.112.4
**Description of problem:**
When I restart the system (due to OS upgrades) the plugin never starts ok, (all states in HA stay Unknown) when I restart the plugin it works all right (race condition?)
This would could be a easy fix to start the container with a delay (configurable from frontend)

[2020-07-25 08:14] InvertedMinor opened #365 "Image for armhf not found for 1.14.2"
The 1.14.2 version does not start

Hassio log

`20-07-25 07:51:12 ERROR (SyncWorker_3) [supervisor.docker] Can't create container from addon_7ad98f9c_zigbee2mqtt: 404 Client Error: Not Found ("No such image: dwelch2101/zigbee2mqtt-armhf:1.14.2")`

Config:
[code]

System:

arch | armv7l
-- | --
chassis |  
dev | false
docker | true
docker_version | 19.03.6
hassio | true
host_os | Raspbian GNU/Linux

[2020-07-29 01:43] jhbcosta commented on #348
Same issue here.
I cannot pair new device after pairing the 5th device.

[2020-07-29 04:58] #348 closed

[2020-07-29 04:59] DiegoFoxy commented on #348
Problem was with wrong version of firmware on C2531.

[2020-07-29 18:15] alonikomax commented on #147
https://www.zigbee2mqtt.io/information/configuration.html#specifying-mqtt-userpassword-and-network_key-in-a-different-file

This feature is supported but when I try to edit config via web interface I get an error
`Failed to save addon configuration, not a valid value for dictionary value @ data['options']`

[2020-07-30 05:13] isoinh commented on #355
@stefagi Perhaps modifying the port in configuration would help here as per:
zigbee2mqtt:error 2020-07-06 10:45:42: Error: Error while opening serialport 'Error: Error: No such file or directory, cannot open /dev/ttyACM0'

In my case the port is:
# ls -la /dev/ttyA*
crw-rw---- 1 root dialout 204, 64 Jul 22 10:24 /dev/ttyAMA0

[2020-08-01 04:58] #344 closed

[2020-08-01 11:27] Tam-Lin commented on #357
I ended up reflashing everything; that fixed things.

[2020-08-02 10:16] JJussi opened #366 "404 Client Error: Not Found ("No such image") error when starting addon"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.2
**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**
VirtualBox, Linux, amd64

**Description of problem:**
There is no amd64 version available

**Your logs from Hass.io**
`20-08-02 10:07:02 ERROR (SyncWorker_0) [supervisor.docker.interface] Can't install dwelch2101/zigbee2mqtt-amd64:1.14.2

[2020-08-02 18:07] isoinh commented on #355
Well... wrongly advised from me, that is definitely not the correct tty device. My apologies.
In my case, I just flashed the dongle and everything worked right out of the box after that, only few variables needed to be changed to match my setup.

I used this as instructions "https://www.zigbee2mqtt.io/getting_started/flashing_the_cc2531.html" for the flashing procedure, only difference was that I

[2020-08-03 00:46] #315 closed

[2020-08-10 10:25] pelusolu opened #367 "Zigbee LED controller dimmer (GL-C-009) Gledopto 10-15s delay to switch off and unable to read states from Home assistant ."
Zigbee LED controller dimmer (GL-C-009) Gledopto 10-15s delay to switch off and unable to read states from Home assistant .
I have two GL_C-009 ( led salone - Led cucina ) with Hassio v. 0.113.3 and zigbee2mqtt version: 1.14.2 - CC2531 firmware 20190608

When i switch on it works fine ( led is on immediatly ) but when I switch off, it spend 10-15 s to switch off led .

here my configuration :
[cod

[2020-08-10 17:46] husq101 commented on #349
Hi Korro1975, Are you running HASS on the Raspberry Pi? Which model Pi are you using?

[2020-08-11 04:57] korro1975 commented on #349
Hi Husq101.
I am using RBPI 4B (4GB RAM). In my case I execute a script on each reboot that turns off and on the USB ports (2.0) where my sitck is plugged and then execute "sudo npm start". I have had to fine tune the number of seconds because the behavior was unstable too but now it seems to work fine most of times.
I hope this help.
Regards.
    On Monday, August 10, 2020, 07:46:23 PM GMT+2, hus

[2020-08-11 12:47] vring0 commented on #351
+1

[2020-08-11 21:11] KoenHaemels opened #368 "Edge won't update (1.13.1-dev)"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.13.1-dev (commit #)

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**
Docker Hass.io

**Description of problem:**
Edge won't update even with auto-update turned on. I have to remove and re-add zigbee2mqtt but with the problem that i loose my whole setup.

**Your logs from Hass.io**

[code]

[2020-08-12 18:13] klim123123 commented on #351
+1

[2020-08-13 19:48] riddledaxis commented on #356
@danielwelch @twanislas

 I appreciate that Daniel has already merged the fix for this issue, but I installed v1.14.3 of the add-on today and if I enter
[code]
into the add-on's configuration, I get this error and I am unable to save it.

Failed to save addon configuration, not a valid value for dictionary value @ data['options']. Got {'data_path': '/share/zigbee2mqtt', 'devices': 'devices.yaml',

[2020-08-15 09:14] Twanislas commented on #356
Hi !

Works flawlessly for me, here's my config :
[code]

Hope it helps ;)

[2020-08-15 16:24] riddledaxis commented on #356
Hey @Twanislas

Thank you, I knew it would be something silly.

I only had the adapter config under serial, but once I added the port it saved straight away and everything seems to be working well.

Thanks again for the help :)

[2020-08-16 10:45] SVhuMMer opened #369 "Aqara wireless switches (1st gen and 2nd gen) stop working after 1.14.3 update"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

1.14.3

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

hass.io 0.113.3 in Docker on Ubunto 20.04 server

**Description of problem:**

After the latest update my 3 aqara wireless wall switches stopped working (two 86sw2 WXKG02LM and one remote.b286acn01 WXKG02LM) They do get back to normal

[2020-08-16 12:01] thijselblaso commented on #369
I have the same problem!

[2020-08-17 14:13] pznamenskii commented on #369
I had to change my automations from click to action (press, long_press, etc) to make them work again. aqara mini buttons are affected as well.

[2020-08-18 16:19] liamstears opened #370 "Posted in wrong place please delete"
Posted in the wrong place, please delete

[2020-08-18 16:34] #370 closed

[2020-08-19 07:35] mozoh opened #371 "Unable to change output format in 1.14.3"
I'm trying to configure zigbee2mqtt with the following config field:
[code]
but seems like it does not work, and i've got the message in the supervisor logs:
[code]
I am using HassOS 4.12 and addon version 1.14.3

[2020-08-26 07:21] pznamenskii commented on #369
in mqtt logs:

Zigbee2MQTT:info  2020-08-26 10:19:05: MQTT publish: topic 'zigbee2mqtt/wireless_switch_room_gold', payload '{"battery":100,"voltage":3035,"linkquality":57,"action":"single_right","click":"right"}'
Zigbee2MQTT:info  2020-08-26 10:19:05: MQTT publish: topic 'zigbee2mqtt/wireless_switch_room_gold', payload '{"battery":100,"voltage":3035,"linkquality":57,"action":""}'
Zigbee2MQTT:info

[2020-08-26 08:57] oldfart101 commented on #355
same problem with version 1.14.3

Operating environment (HassOS):
Raspberry PI 4 (4 GB model)
HassOS 4.12 / Supervisor version 235
Home Assistant 0.114.3

flashed CC2531 Zigbee Stick [Lumi]

serial:
/dev/ttyACM0
/dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0014D956FC-if00
/dev/ttyAMA0

Zigbee working in homeassistant with /dev/serial/by-id/usb-Texas_Instruments...

zigbee2mq

[2020-08-26 14:20] oldfart101 commented on #355
as an aside, homeassistant (in supervisor - hardware) says the CC2531 Zigbee Stick is here:
/dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0014D956FC-if00
there is no such file - HA is working and receives actions from the TICC2531
How do I determine where it is actually connected, since Zigbee2mqtt says it isn't there

[2020-08-28 17:46] tomdudu38 opened #372 "snzb-02 stoped working since 1.14.2"
**zigbee2mqtt add-on version (if edge, please report commit hash):1.14.3

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):hassio & domoticz (docker debian)
zigbee2mqtt container and hassio-zigbee2mqtt-addon container

**Description of problem:hello, i can't see my two sonoff "snbz-02 temp humudity sensors" in zigbee2mqtt logs.i have a switch from sonoff working w

[2020-08-28 19:01] tomdudu38 commented on #372
they work every hour so i close

[2020-08-28 19:01] #372 closed

[2020-08-29 19:38] akonstster commented on #372
What "generic.sensor" is? Can i use that in HA?

[2020-08-30 10:37] knutasund opened #373 "Unable to start with custom devices.js"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

Add-on does not start if I try to add custom devices.js.
Download https://github.com/Koenkk/zigbee-herdsman-converters/blob/master/devices.js

This worked fine before upgrade to 1.14.3.

**Your entire configuration from the frontend (with sens

[2020-08-30 20:46] Jason-Murray commented on #373
Also having this issue. I guess the new devices.js is calling for updated converters files, I've tried placing these in data_path too but they don't get used, I'm guessing the override is only set up to recognise devices.js

[2020-08-30 21:27] Jason-Murray commented on #373
Got around this for now by removing the line near the top of devices.js:
`const globalStore = require('./converters/store');`

And removing the entire entry for the `zigbeeModel: ['3400-D']` (around line 7100) as this is the only place globalStore is used.

[2020-08-31 16:00] tomdudu38 commented on #372
iit's a value u can add to a unknow device.
https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html
but if u havn't unsupported device in your logs. zigbee2mqtt should work with this sensors.

[2020-08-31 18:11] knutasund commented on #373
Thanks, same workaround works for me.

[2020-08-31 20:01] MonolithProjects commented on #365
Maybe you deleted the docker image. Login to your Linux system and run `docker pull dwelch2101/zigbee2mqtt-armhf:1.14.2` and start the add-on from the Home Assistant Supervisor.

[2020-09-02 11:20] fufar commented on #364
same problem, it will be nice

[2020-09-02 17:50] sym0nd0 opened #374 "Enhancement request - addition of 'Jump to bottom' on log page"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.4
**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

HassOS 4.12
RPi4 4Gb

**Description of enhancement request:**
Jump to bottom link/button on log page, especially for mobile, to allow for the latest log entry to be read quickly without the need to manually scroll.

**Your entire configu

[2020-09-02 23:12] andriej commented on #313
+1

[2020-09-03 09:18] andriej opened #375 "homeassistant_legacy_triggers is not working"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 0.14.4

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):** Debian 10 Supervised

**Description of problem:**
Options regarding HA legacy mode doesn't work in configuration:
`homeassistant_legacy_triggers: false` is marked as unknown option in logs...

**Your entire configuration from the fronten

[2020-09-03 11:50] apeeters commented on #313
I created a PR: https://github.com/danielwelch/hassio-zigbee2mqtt/pull/376

[2020-09-03 11:51] apeeters commented on #375
This is a duplicate of #313.

[2020-09-03 17:23] eschefer opened #377 "Smart Smoke Sensor Heiman HS1SA - Zigbee2mqtt 1.14.4"
After update 1.14.4 my Smart Smoke Sensor (Heiman HS1SA) is not visable anymore in HA, and unable to find with automatic discovery.

[2020-09-03 23:44] id4vip opened #378 "zigbee2mqtt addon version 1.14.4 update breaks my system"
i am running zigbee2mqtt on raspberrypi on homeassistantOS, i have updated the zigbee2mqtt addon as well as homeassistantOS yesterday to latest version. now zigbee2mqtt is not working in addon log i am see this type of error, please guide me to resolve this error, thanks
igbee2MQTT:info  2020-09-03 12:34:08: Logging to console and directory: '/share/zigbee2mqtt/log/2020-09-03.12-34-08' filename: l

[2020-09-04 02:12] lovelylain commented on #375
I added support for almost all options #353

[2020-09-04 09:33] cocomaddox commented on #378
Sorry I can’t help as I have the exact same issue after upgrading. 39 devices I can no longer control as the system has broken. My error and system is the same as yours. Hope someone can help as this is the third time it has broken following an upgrade.

[2020-09-04 14:30] id4vip commented on #378
thanks @cocomaddox, you gave me little relief as i was thinking i was only the person in problem with this system & thinking to reflash my taxes zigbee card, with your same problem i think something wrong in O/S or in Z2M addon, so i hold on to flash taxes zigbee card. also i do not want to touch that expansive card because each time with firmware flash there are chances of bricking the card. i am

[2020-09-04 14:42] cocomaddox commented on #378
It has happened to me three times over the past 5 weeks. Every time, the CC2531 coordinator crashes o have not been able to fix the problem. My only solution was to buy a new USB sniffer each time. I am sick and tired of doing this so I have just ordered a CC debugger app I can reflash the coordinator myself. I have searched forums everywhere and reflashing the coordinator seems to be the only val

[2020-09-04 14:55] id4vip commented on #378
i flashed taxes zigbee card one time last year, is it need to reflash? is it safe and chances of bricking it less. if this problem arise due to homeassistantOS, i will change my path by using normal linux & use homeassistant core. i prefer my taxes zigbee card will untouchable by any software or operating system.

[2020-09-04 16:03] cocomaddox commented on #378
From what I understand, reflashing is the only solution. Somehow the firmware gets corrupt. I have just tried all three of my TI USBs again and they simply don’t work. Only see a red light when two days ago it was working perfectly. I am so sick of the reliability of the CC2531 that I just ordered a LAUNCHXL-CC26X2R1. Apparently they are more reliable and can handle larger networks. Fingers crosse

[2020-09-04 23:51] id4vip commented on #378
now i am feeling i am in serious trouble,  please help me to reset TI CC1352P-2 zigbee2mqtt card. this time only green led steady on, how to reset the card.
Even I thought I will reflash this card with guidelines ( https://www.zigbee2mqtt.io/information/flashing_via_uniflash.html ). Even card is not respond to uniflash software, as per guide line this card be auto detected for further process. Whe

[2020-09-05 15:04] Sandriekus opened #379 "Zigbee2MQTT addon 1.14.4: Xiaomi Honeywell smokedetectors doesn't work"
After upgrading Zigbee2MQTT official addon (master branch) to 1.14.4, my Xiaomi Honeywell Smoke detectors doesn't work anymore.

cannot set sensitivity:  no network route 205 error
cannot perform self-test: no network route 205 error
cannot repair the device, had to force-remove them and then repair

after restoring a back-up (Zigbee2MQTT 1.14.3) everything is working fine

i'm running HA on a Ras

[2020-09-06 04:43] yaronbl commented on #369
I have the same problem. Going through system logs, it seems all devices (Aqara & Xiaomi buttons) that are 3+ feet a way from the receiver, gets a link quality 0, and are removed after a while. If I take one of the buttons closer to the receiver and press it, it will be discovered (device announced) and return to work for a few hours, till it drops down again. Tried 4 different buttons, all with f

[2020-09-08 00:27] Mattat01 commented on #378
Hi,

I have the same error (copied below). I believe the problem started with the upgrade to 1.14.4 as I first noticed my zigbee devices not responding a few days ago. Restarting Hassio does not fix it, but a few days ago I pulled the power to my Pi and it came up working, only to fail again about a day later. The /share/zigbee2mqtt/log files seem to be written ever time this error comes up (every

[2020-09-08 02:49] id4vip commented on #378
in last two days i try homeassistantOS on (raspberrypi-2 & raspberry pi-3) also rasbian lite  on raspberrypi-3 with "TI CC1352P-2 zigbee2mqtt" card. still zigbee2mqtt addon fail to work also on rasbian lite after the command "npm start" according to guidelines system again fail  ( https://www.zigbee2mqtt.io/getting_started/running_zigbee2mqtt.html ) so still my system is down  after upgrade with v

[2020-09-08 16:42] id4vip commented on #378
i just reflash my  "TI CC1352P-2" & after that insert that card into raspberry pi & all my sensor again online. so the reflashing of card is the only solution. thanks

[2020-09-08 16:43] #378 closed

[2020-09-08 18:41] #313 closed

[2020-09-08 23:04] cocomaddox commented on #378
It does appear to be the only solution. Odd that the coordinators become. On responsive following a software update. Maybe I just won’t update my software anymore or will look for a more stable solution. I can’t reflash my devices until my debugger arrives.

[2020-09-09 03:16] Mattat01 commented on #378
I'll try reflashing later, but I'd be surprised if we all had our hardware fail at the same time as an update. Maybe the update relies on newer firmware on the coordinator...?

[2020-09-09 05:03] cocomaddox commented on #378
My hardware has failed three times over the past few months. Strange coincidence that it failed following every software update. I had my updates set to occur automatically. I am going to revert to manual updates now so I can stop the Zigbee2mqtt add on before I run the update. Don’t know if it the cause but I really don’t know what else it can be. Too much of a coincidence for me.

[2020-09-09 20:29] #375 closed

[2020-09-09 20:34] #356 closed

[2020-09-09 20:52] danielwelch commented on #350
@dunxd Hey, sorry for the huge delay. I'm going back through some old issues and trying to clean up.

Thanks for bringing up the concerns. You're right, the documentation could definitely be improved in a number of areas. I think the best case scenario, big picture, would just be to roll the add-on docs into the current docs on zigbee2mqtt.io, with a setup guide and some dedicated pages for specif

[2020-09-09 20:53] #258 closed

[2020-09-09 20:53] #351 closed

[2020-09-10 11:21] Mattat01 commented on #378
I'm wierded out by this. Reflashing the coordinator and routers did actually fix it. I had/have to reconnect every device but the config was still there when I re-paired them, so that's good. I still don't get how a software upgrade kills the coordinator/router so maybe there is some other problem that the reflashing just fixes, like a break in the link between the coordinator and Home Assistant,

[2020-09-10 22:26] cocomaddox commented on #378
I also reflashed my coordinator last night. Has to repair 39 devices but like you, the config And customisation was still there. I have Ben through this many times and have done a lot of research on it via forums. It seems the only solution, every time, is to reflash the firmware.

I have no idea that causes the firmware to become corrupt but I can tell you that I will not be updating Add on softw

[2020-09-11 03:06] wolverinevn opened #382 "No longer support armv7?"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.4

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**
Home Assistant 0.114.0
Supervisor 242
Docker version 19.03.12, build 48a6621
Raspbian GNU/Linux 10 (buster) armv7l GNU/Linux

**Description of problem:**
This add-on is not available on your system.

**Your entire configuration from the

[2020-09-12 11:13] dseifert commented on #378
Same issue here, after updating to 1.14.4 I had to re-flash the firmware (CC2531ZNP-Prod.hex). I wonder whether it's related to https://github.com/Koenkk/zigbee2mqtt/issues/3890

[2020-09-12 18:58] 7h0mas-R opened #383 "Unable to edit fromZigbee.js"
Hi there,

I use HA with Zigbee2Mqtt for about 9 months and like how easy and fast I can expand it.
I am now working on integrating my first piece of new hardware (`Merten Wiser` roller-shutter controller).
I have most functionality working but would like to try adding a new `zigbee-herdsman-converter` to `fromZigbee.js`, to read a buffer from a `raw` message.

However, the instruction from the "H

[2020-09-13 18:39] Karolis92 opened #384 "Add-on fails to start after update (any version after 1.14.4)"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.4

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**
RPI3 HassOS 4.12

**Description of problem:**
After update 1.14.3 to 1.14.4, addon does not start anymore, with PR #353 bunch of new stuff was added to config, but no info in changelog about breaking changes

**Your entire configuration

[2020-09-13 18:44] Karolis92 commented on #384
I'm not sure how HassOS addon system works, it maybe it takes config schema from github, but image form docker hub, because last image I see is pushed 11 days ago. But PR with thee changes was merged 5 days ago.
When I try to start addon I get message that `availability_blocklist` is missing , but it's was not in 1.14.4 yet

[2020-09-13 21:14] oldfart101 commented on #357
same problem....

**zigbee2mqtt add-on version (if edge, please report commit hash):**
Current version: 1.14.4 NOT Edge

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):**

Home Assistant running on Raspberry Pi 3 B+
Elelabs Zigbee Raspberry Pi Shield

arch	armv7l
chassis	embedded
dev	false
docker	true
docker_version	19.03.11
hassio	true
host_os	HassOS 4.13
insta

[2020-09-13 21:29] robbinonline commented on #384
Same error here, it looks like it have something to do with the config layout

[2020-09-13 22:47] ardenking opened #385 "Zigbee2MQTT addon 1.14.4: Xiaomi Honeywell smoke detectors refusing to pair"
was using 1.14.3 on openhab and my Xiaomi Honeywell smoke detectors were working fine

migrating to Hassio installed the plugin all my devices except the smoke detectors will pair noting in the logs to say way

tested them with the official hub and paired first go

[2020-09-13 23:18] Mattat01 commented on #378
@dseifert it could be related. Whatever caused it damaged the stick because my configuration still didn't work after rolling back to my back-up. I can't believe that it was just a stability issue thoug, as I had to reflash my coordinator and then reflash both routers to get them all back on line. Three wouldn't all fail at once (but to be fair I didn't try too hard to reconnect them before flashin

[2020-09-13 23:27] cocomaddox commented on #378
I received my new LAUNCHXL-CC26X2R1 a few days ago. Flashed the device and it has been running for 5 days without a single error in my logs. I have been reluctant to try to update Home Assistant or the zigbee2mqtt add-on yet but will try this soon. Compared to the CC2531, this device is a lot more powerful and stable. The logs, when I was running the CC2531, were full of connection errors. I would

[2020-09-14 05:52] Wollenyy commented on #384
What is the solution? After update I've run out of sensors, it doesn't start zigbee2mqtt, error "missing option avaibality_blocklist in advanced" . Thank you

[2020-09-14 06:11] projectraam commented on #384
I "solved" it by

1. Taking a backup of my config
2. Using reset to default
3. Merged the old and the new, so it followed the correct structure and then used that in the config.

I could then start the add on, but it's now completely unstable. It fails on missing network route, sometimes the devices are responding instantly, sometimes slow (10-20 seconds delay) and sometimes nothing happends.

[2020-09-14 06:23] damomay commented on #384
I had the same issue a few day ago after the update. I was able to sort out the config file and make it run but also found it completely unstable with some switches working then not working then the whole zigbee network crashed and nothing worked I ended rolling back to the previous version using my last snapshot and all is good once again

[2020-09-14 08:47] lovelylain commented on #384
https://www.zigbee2mqtt.io/information/configuration.html
Sorry it's my fault, according to the information here,
`ban`, `whitelist`, `availability_blacklist`, `availability_whitelist` are deprecated,
please use `blocklist`, `passlist`, `availability_blocklist`, `availability_passlist` instead.

[2020-09-14 09:08] lovelylain commented on #383
Because hassio often re-creates the container and cannot custom the container parameters, it is not recommended to use the mapping method. It is recommended to use the new [external_converters](https://www.zigbee2mqtt.io/information/configuration.html#external-converters-configuration) option. Here is an example https://github.com/Koenkk/zigbee2mqtt.io/blob/master/docs /externalConvertersExample/d

[2020-09-14 10:34] Karolis92 commented on #384
I restored default config, addon started. Then merged with my old config, it started, but now all of the divices are gone and will need to repair.
I'm not sure I want to go same way anymore as this addon only introduces one more place to fail. Will figure if host z2m somwhere independently without this middle-man addon or maybe try out ZHA

[2020-09-14 14:09] projectraam commented on #384
Could the official release be reverted back to version 1.14.3 until a stable version 1.14.5 could be released? I can’t figure out what in version 1.14.4 that’s causing the instability.

[2020-09-14 14:36] Naguz commented on #384
Mine refused to start after update due to a missing "availability_blocklist" option. I tried adding it, but it refused me to save my config in the webui due to some error which seemed to imply my whole config file format was invalid. Unfortunately I did not copy the error, as I noticed this bug report and restored to a snapshot (no time to debug ATM).

This is definitely either a breaking change o

[2020-09-14 16:01] Karolis92 commented on #384
I guess it's not the 1.14.4 that causes problems, it's probably because home assitant reads config from 'master' branch of repo which was changed after 1.14.4 release. Maybe repo needs 'develop' branch where develpment is done and keep master at release state.

[2020-09-16 10:56] theFork commented on #368
I can confirm that this behaviour is still present with 1.14.4-dev. Unfortunately, there in no commit hash given in the startup log. Is the edge version (aka the dev branch) aware of the latest commit hash?

[2020-09-16 12:41] danielwelch commented on #385
You should first post this issue in the zigbee2mqtt page

[2020-09-16 12:41] #385 closed

[2020-09-16 20:16] GuusK opened #386 "both availability_blocklist and availability_passlist are required"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.14.4

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):** HassOS 4.13, home assistant 0.114.4

**Description of problem:**
I've had it working with a few Osram Smart+plugs on version 1.14.1. Updated to 1.14.4 and now it doesn't start. When it does start, it shows me the following:

[code]
When

[2020-09-16 20:35] tomekpur commented on #384
Here are the changes in the config that helped me out:

Change
[code]
to
[code]

Remove
[code]

[2020-09-16 21:02] svenvbins commented on #386
Did you check the other issues? Sounds like it's the same issue as #384

[2020-09-16 21:15] GuusK commented on #386
Depends on what you see as the issue, but I do agree that they seem to have the same origin. Let's continue the conversation there.

[2020-09-16 21:15] #386 closed

[2020-09-16 21:18] GuusK commented on #384
Posting here because it seems that this is caused in the same way.

**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.14.4

**Operating environment (HassOS, Virtual Machine, Device/platform running Hass.io):** HassOS 4.13, home assistant 0.114.4

**Description of problem:**
I've had it working with a few Osram Smart+plugs on version 1.14.1. Updated to 1.14.4 and now it doesn't

[2020-09-17 02:44] lovelylain commented on #384
@GuusK According to [Zigbee2mqtt's configuration document](https://www.zigbee2mqtt.io/information/configuration.html), `ban`, `whitelist`, `availability_blacklist`, `availability_whitelist` are deprecated, they are replaced by `blocklist`, `passlist`, `availability_blocklist`, `availability_passlist`.
HomeAssitant’s add-on must exist for array and dictionary type options even if you don’t need to

[2020-09-17 08:12] ciotlosm commented on #384
It took me a while to make it work, but I was able to update and start the addon by correcting the config with the right settings mentioned above.

Things to look out for: Even if you add and modify the settings mentioned there, there are some that are added automatically and you just need to delete the old ones. Example:
[code]

[2020-09-17 08:22] ciotlosm commented on #367
@pelusolu This is the wrong repo for such issues. This is just a wrapper for `zigbee2mqtt` to allow it to run as an addon in for Home Assistant.

Please post your issue here: https://github.com/Koenkk/zigbee2mqtt

[2020-09-17 08:22] #367 closed

[2020-09-17 08:25] ciotlosm commented on #358
Does this work with stable version?
@zhaotianhao1234 is the above issue with valid?

[2020-09-17 08:32] ciotlosm commented on #349
Have you tried pressing the button on the device as well? I'm using /dev/serial entry from hardware to connect to the device to avoid /dev/tty moving on reboot.

[2020-09-17 08:36] ciotlosm commented on #365
You could also backup your settings, uninstall this addon and reinstall it. Your config should still be fine under /share/zigbee2mqtt

[2020-09-17 08:48] ciotlosm commented on #383
@7h0mas-R thanks for reporting this. I agree with you docs will need a refresh and include this expicit. If you could try a PR after you complete your setup would be great (on this repo as it's very specific to this addon).

Based on the docs:

See https://www.zigbee2mqtt.io/information/configuration.html#external-converters-configuration for some details. You should be able to map custom files ma

[2020-09-17 09:04] ciotlosm commented on #382
Was this working in the past?

[2020-09-17 09:10] wolverinevn commented on #382
Yes. Installed and used it flawlessly until a week ago. It just disappeared from add-on store (reposity is already added).
But I can find and install it on same Pi, same Raspbian, same Home Assistant with 64bit kernel (so aarch64).

[2020-09-17 09:11] ciotlosm commented on #364
Can you use the watchdog feature from Home Assistant to make sure addon is up?

[2020-09-17 09:14] ciotlosm commented on #379
@Sandriekus this looks like a problem with `zigbee2mqtt` and should be reported on that repo. The add-on just wraps that functionality. Please report here: https://github.com/Koenkk/zigbee2mqtt

[2020-09-17 09:14] #379 closed

[2020-09-17 09:15] ciotlosm commented on #377
This looks like a problem with zigbee2mqtt and should be reported on that repo. The add-on just wraps that functionality. Please report here: https://github.com/Koenkk/zigbee2mqtt

[2020-09-17 09:15] #377 closed

[2020-09-17 09:16] ciotlosm commented on #374
This functionality for log view management is done in Home Assistant. You should open an issue with the frontend there to add such support. The addon can't control the view.

[2020-09-17 09:16] #374 closed

[2020-09-17 09:21] ciotlosm commented on #373
Related to https://github.com/danielwelch/hassio-zigbee2mqtt/issues/383 as well. Maybe try to use `external_converters ` as stated here: https://www.zigbee2mqtt.io/information/configuration.html#external-converters-configuration

[2020-09-17 09:24] ciotlosm commented on #369
This looks like a problem with zigbee2mqtt and should be reported on that repo. The add-on just wraps that functionality. Please report here: https://github.com/Koenkk/zigbee2mqtt.

[2020-09-17 09:24] #369 closed

[2020-09-17 09:33] ciotlosm commented on #355
This is not a problem of the addon, but more of [zigbee2mqtt](http://github.com/koenkk/zigbee2mqtt). I'd recommend you open an issue there.

[2020-09-17 09:38] ciotlosm commented on #371
@mozoh can you please post your add-on config?

[2020-09-17 09:51] GuusK commented on #384
@lovelylain It is true that those configs are deprecated. However, the documentation you've linked states them as optional so my train of thought was that they don't have to be present. So the documentation maybe should be updated to reflect that they should be present but can be left empty.

Other than that, this config change probably should not have been a patch version update according to semv

[2020-09-17 10:16] ciotlosm commented on #384
@GuusK I think keeping docs up to date is always a problem in projects. Would be great to get people to submit doc updates when they notice problems.

I totally agree with versioning that should be more consistent when doing breaking changes.

[2020-09-17 11:35] ciotlosm commented on #382
The image seems to be there: https://hub.docker.com/r/dwelch2101/zigbee2mqtt-aarch64. Maybe some local caching. Try removing and adding the repository itself.

[2020-09-17 11:40] ciotlosm commented on #366
This should be available. It's visible in docker hub: https://hub.docker.com/r/dwelch2101/zigbee2mqtt-amd64/tags
Can you re-check?

[2020-09-17 12:01] ciotlosm commented on #352
Closing this as there seems to be a problem somewhere. Multiple reports on "No such image" reference.
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/366
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/365
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/352
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/334
https://github.com/danielwelch/hassio-zigbee2mqtt/issu

[2020-09-17 12:01] #352 closed

[2020-09-17 12:01] ciotlosm commented on #365
Closing this as there seems to be a problem somewhere. Multiple reports on "No such image" reference.

https://github.com/danielwelch/hassio-zigbee2mqtt/issues/366
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/365
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/352
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/334
https://github.com/danielwelch/hassio-zigbee2mqtt/iss

[2020-09-17 12:01] #365 closed

[2020-09-17 12:04] ciotlosm commented on #366
There seems to be a more generic problem as see based on the number of issues referencing this error:
https://github.com/danielwelch/hassio-zigbee2mqtt/issues/366 https://github.com/danielwelch/hassio-zigbee2mqtt/issues/365 https://github.com/danielwelch/hassio-zigbee2mqtt/issues/352 https://github.com/danielwelch/hassio-zigbee2mqtt/issues/334 https://github.com/danielwelch/hassio-zigbee2mqtt/issu

[2020-09-17 12:05] ciotlosm commented on #382
This might be the same as #366 so I linked it there. If you are no longer experiencing the issue it's probably related.

[2020-09-17 12:09] wolverinevn commented on #382
Thanks but no image for armv7. Is it removed or never been there? But we all used it on Raspbian before.

[2020-09-17 12:20] mozoh commented on #371
[code]

[2020-09-17 12:23] ciotlosm commented on #382
Maybe it was using armhf before and something changed in HA that no longer knows to use armhf image?
According to https://superuser.com/questions/1009540/difference-between-arm64-armel-and-armhf armhf should work.

Maybe you have a problem closer to: https://community.home-assistant.io/t/installing-hassio-with-docker/101118

[2020-09-17 12:25] ciotlosm commented on #371
According to (docs)[https://www.zigbee2mqtt.io/information/configuration.html] you should have:
[code]

[2020-09-17 12:29] ciotlosm commented on #368
The missing commit id for edge is a known problem https://github.com/danielwelch/hassio-zigbee2mqtt/issues/146

[2020-09-17 13:08] mozoh commented on #371
Please read the docs more careful:
[code]
I need to use exactly `attribute_and_json`

[2020-09-17 13:21] ciotlosm commented on #371
You need to use ' around your value like:
[code]

Also keep in mind that this repository is for zigbee2mqtt home assistant addon. The settings discussed and considering you're changing the actual `yaml` hint that you should be adressing such issues in http://github.com/koenkk/zigbee2mqtt

[2020-09-17 13:24] danielwelch commented on #368
Thanks @ciotlosm. The problems are in this part of the dockerfile: https://github.com/danielwelch/hassio-zigbee2mqtt/blob/727077936583dd7c05b9a8bc4e00eabf832d35ad/zigbee2mqtt-edge/Dockerfile#L25

First, this approach is giving us the commit for the add-on, not zigbee2mqtt. Second, I think the usage of environment variables in `jq` isn't correct and is outputting `null`.

I think this could be easi

[2020-09-17 13:31] danielwelch commented on #382
See this relevant PR here: https://github.com/danielwelch/hassio-zigbee2mqtt/pull/124

My understanding has been since then that `armv7` would "fall back" to `armhf` if not specified as a supported architecture, and that seems to have been working for quite some time. Will have to check if something changed within HA.

[2020-09-17 13:32] mozoh commented on #371
But hassio automatically removes '' on config save.

Btw, the issue is:
[code]
and not the even `output` field

[2020-09-17 13:32] danielwelch commented on #366
This has almost always been the case (there is an issue like this raised on a lot of releases). May be worth adding something to the issue template to call it out more obviously. Build times used to be a lot longer, and issues like this were big motivators for me to reduce build time.

[2020-09-17 13:38] ciotlosm commented on #366
Is there a possible to use build triggers to mark the version available only after all builds are published on docker?

[2020-09-17 13:39] ciotlosm commented on #371
Ok, I tested this out and it seems the problem is missing support for `output` inside `experimental`. See: https://github.com/danielwelch/hassio-zigbee2mqtt/blob/master/zigbee2mqtt/config.json#L146

There must have been something wrong in your config because the error should have been:
`20-09-17 13:34:04 WARNING (MainThread) [supervisor.addons.validate] Unknown options output`

This requires a PR

[2020-09-17 13:42] danielwelch commented on #384
@GuusK all reasonable arguments. Unfortunately a lot of these issues are just related to the quirks of how Home Assistant handles configuration, which @lovelylain spelled out nicely above. "Old" config options tend to show back up on updates/re-installs because of how Home Assistant saves / handles your configuration.

I used to maintain a list of variables in the early days of this add-on. But as

[2020-09-17 13:51] wolverinevn commented on #382
Should be related to some recent Supervisor updates? This is my first though but some other add-ons work well and I do not have much time to investigate. Move zigbee2mqtt to docker container anyway.

[2020-09-17 14:10] lovelylain commented on #384
@GuusK The configuration file you see in addon is different from that of zigbee2mqtt itself. Addon has its own [constraint rules](https://developers.home-assistant.io/docs/add-ons/configuration#options--schema). The `options` dictionary contains **all** available options and their default value. The `schema` looks like `options` but describes how we should validate the user input. If you want make

[2020-09-17 14:27] ciotlosm commented on #366
Docs recommend doing it manually by using a different branch: https://developers.home-assistant.io/docs/add-ons/publishing#build-scripts-to-publish-add-ons-to-docker-hub

Using a `dev` branch would work if there was no `edge` addon version. One potential solution would be to always use `dev` and on each commit (contributors could use PRs) to trigger a build job that when it finishes can do an auto

[2020-09-17 14:31] danielwelch commented on #366
We'd need to limit who could submit a pull request to `dev` or whatever branch we'd use for this, as I don't want to push an image to Docker hub for any pull request.

[2020-09-17 14:34] ciotlosm commented on #366
You don't need to. As you would not accept the PR to trigger a build. My workflow above misses the approval stage. You would trigger a build only after the PR is merged in `dev`

[2020-09-17 14:35] 0xygen8 commented on #364
Today I retested this with watchdog enabled (on v1.14.4) and it started OK -- have to test more to see if it is magically resolved... @fufar can you retest also?

[2020-09-17 14:57] danielwelch commented on #366
Gotcha, sorry I misunderstood. That sounds like a reasonable approach.

[2020-09-17 15:16] Karolis92 commented on #384
@danielwelch my thaugths where the same that the problem was wit config file which is taken as lates version from master branch. Using develop branch for develooment would solve such breaks as this.

[2020-09-17 15:20] Karolis92 commented on #384
@danielwelch the current problem is that after 1.14.4 release config was changed, but hass dosn't take it by tag or any other indicator, it just takes latest one. These changes that were made was not even relesed with 1.14.4. Having develop branch would solve this. As main master could be kept at latest release state.

[2020-09-17 15:23] ciotlosm commented on #371
I've added https://github.com/danielwelch/hassio-zigbee2mqtt/pull/389 to support this.

[2020-09-17 16:40] danielwelch commented on #371
closed by #389, please re-open if still having issues.

[2020-09-17 16:40] #371 closed

[2020-09-17 17:03] Naguz commented on #384
Based on the explanations here, that makes sense. However, updating an addon should never cause breaking changes without this being explicitly stated in the release notes. Breaking changes is a huge no-no.

[2020-09-17 17:09] danielwelch commented on #384
@Karolis92 I may be misunderstanding the initial issue here, but it seems like the issue was that the “required” empty arrays were not included, and that adding those (and removing deprecated ones) fixed peoples issues. However, I agree that keeping master to reflect latest release would solve other problems (and is certainly what Home Assistant wants you to do).

Regardless, the CHANGELOG needs t

[2020-09-17 17:19] theFork commented on #368
This would be great! IMHO for the stable version it's not that important to get the exact commit id in the log since here we only have well-known tagged versions.

[2020-09-17 17:21] Karolis92 commented on #384
@danielwelch problem is that if you update (install) some days after the release, home assistant takes the `config.json` in state that it is in master branch at the installation moment. So if development is happening, some things may be not in same state as was intended when doing release. So changes can be breaking, not fully tested and undocumented.
In this case that happened, people who updated

[2020-09-17 17:35] danielwelch commented on #384
Got it, I didn’t have the timeline down for what happened in this particular case. This is definitely a problem and there essentially should be no changes to stable config on master outside of a release. Definitely need another branch for development.

[2020-09-17 20:00] bobslaede commented on #384
Next time maybe allow both config names... Not a fun update 😵😐🙂

[2020-09-17 20:24] danielwelch commented on #384
I'm not really interested in supporting all old zigbee2mqtt config options in perpetuity. Particularly in the early days, we tried this, everything got bloated and difficult to maintain (as well as confusing for new users) due to rapid changes in zigbee2mqtt, decided to cut things down/consolidate and issue a breaking change warning... repeat cycle... etc. Granted, the zigbee2mqtt pace of change w

[2020-09-17 20:29] danielwelch commented on #382
This is tentatively fixed by #388. I'll close for now, but please feel free to re-open if there are continued issues with armv7 architecture

[2020-09-17 20:32] #382 closed

[2020-09-17 20:47] danielwelch commented on #366
@ciotlosm another related issue being discussed in #384 (another motivation for a separate branch that I think is more important than what we've been discussing here), I'm not sure what is proposed here would solve. Specifically, we wouldn't want to do an automatic merge to master, as `zigbee2mqtt/config.json` should not be changed on master branch between releases.

[2020-09-17 21:16] dnedeltchev opened #390 "Upgraded to 1.14.4.1 and my zigbee2mqtt won't start"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**
zigbee2mqtt won't start. When I click start it tell me this

Failed to start addon - configruation validation faled!
Missing option availability_passlist in advanced.

I am unable to change anything in the co

[2020-09-17 21:21] dnedeltchev commented on #390
no go after reboot

Error in supervisor log

20-09-17 21:17:31 WARNING (MainThread) [supervisor.addons.validate] Unknown options availability_blacklist
20-09-17 21:17:56 WARNING (MainThread) [supervisor.addons.validate] Unknown options availability_blacklist

Error when I try to start zigbee2mqtt

Failed to start addon - configruation validation faled!
Missing option availability_passlist in advan

[2020-09-17 21:27] elliotmoso commented on #390
On your Configuration
add `availability_passlist: []` in your advanced section

[2020-09-17 21:30] dnedeltchev commented on #390
Done that but I am unable to save the config. I get an error. See my second post. Also in my supervisor log I get Unknown options availability_blacklist and removing this option, I still can't save the config. Doing a restore now unfortunately.

[2020-09-17 21:32] lukaszq commented on #390
When add availability_passlist: [] Error:

Failed to save addon configuration, not a valid value for dictionary value @ data['options']. Got {'data_path': '/share/zigbee2mqtt', 'external_converters': [], 'devices': 'devices.yaml', 'groups': 'groups.yaml', 'homeassistant': True, 'permit_join': True, 'mqtt': {'base_topic': 'zigbee2mqtt', 'server': 'mqtt://core-mosquitto', 'user': 'mqtt1', 'password'

[2020-09-17 21:32] elliotmoso commented on #390
I think `availability_blacklist` has been renamed to `availability_blocklist`

[2020-09-17 21:36] shirou93 commented on #390
don't work @elliotmoso

[2020-09-17 21:39] pvermeij commented on #390
Had the same issue.
You indeed need to change availability_blacklist to availability_blocklist and add availability_passlist to the advanced section

[2020-09-17 21:41] mj1985 commented on #390
Same error here, I copied my config and pushing "Reset to defaults", I was able to start the addon again:
My new config:
[code]
I stripped the network-key and pan-id.

[2020-09-17 21:47] dnedeltchev commented on #390
can anyone else confirm this is the fix?

[2020-09-17 21:52] elliotmoso commented on #390
I have it working with this config:
[code]

[2020-09-17 21:54] dnedeltchev commented on #390
Thank you all! I got it working as well.

[2020-09-17 22:07] xppx99 commented on #390
For a minute I though I would need to repair my hole network. The solution provided by @pvermeij a few posts back solved it for me:

`You indeed need to change availability_blacklist to availability_blocklist and add availability_passlist to the advanced section`

Regardes

[2020-09-17 22:33] luckypants123 commented on #390
This fixed for me!

[2020-09-17 22:34] dnedeltchev commented on #390
I will close the issue then.

[2020-09-17 22:34] #390 closed

[2020-09-17 22:34] dnedeltchev commented on #390
You indeed need to change availability_blacklist to availability_blocklist and add availability_passlist to the advanced section

[2020-09-18 02:11] MRobi1 commented on #384
Definitely a rough update. I had no issues on 1.14.4 but updated today to 1.14.4.1 and add-on wouldn't start.
Followed the advice from @tomekpur and got the add-on going again. Initially nothing would respond at all. I'm about 8hrs in and about 90% of my devices are responding again.

Zigbee2MQTTAssisstant is a whole other story. It's throwing fits. Everything shows it's been unresponsive for betw

[2020-09-18 04:44] Arnchi opened #391 ""Missing availability_blocklist in advanced""
zigbe to mqqt addon 1.14.4.1 , Hass.io ,rasppi 3 , cc2531

Overnight error while not changing anyhting about  missing availabilty_blocklist in advanced.
Is this a new name for Black list tried to swap them but didnt solve the issues any ideas what could have gone wrong ?
Good lesson for me to turn off auto updates and only do them when i have time to check them aswell :P
my configuration is :

dat

[2020-09-18 05:07] Arnchi commented on #391
Also I managed to upload my configuration in zigbeetomqqt edge and that works so I am back up and running but preferable switch back to nomral zigbeetomqqt.
 But nevertheless I am and running so thats good !!

[2020-09-18 05:13] StephanU commented on #391
I think this is a duplicate to #384
What solved this problem for me was the answer by @tomekpur https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384#issuecomment-693650970

[2020-09-18 06:01] bobslaede commented on #384
@danielwelch renaming stuff in the config wouldn't be too bad, if you wrote a small script as part of the startup process, to fix our configs. I had automatic updates turned on (off now!) and I got a bit of a surprise when all of a sudden, nothing worked.
Preferably do a major version update when you have breaking changes, or do it incrementally with a minor version update, and support both config

[2020-09-18 07:01] Karolis92 commented on #384
I doubt addon has direct access to config an abbility to change it. It get's some json file with options, but that is derived from config enter by user in UI.

Would be nice to get direct access to that yaml tho... Then no mapping would need to be done from json object :D

[2020-09-18 07:06] ciotlosm commented on #366
@danielwelch that was my exact thought after reading through the other thread. I will try to imagine an ironed out process. The only thing that comes to mind now is having version management removed from config.json.

We change `config.json` to look something like this on `dev` branch:
[code]

`[Z2M_VERSION]` and `[BUILD_NO]` would be placeholders that we never change.

⇨ User creates PR for `dev`

[2020-09-18 07:09] ciotlosm commented on #390
Duplicate of https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384

[2020-09-18 07:10] ciotlosm commented on #391
Indeed, this is a duplicate of https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384

[2020-09-18 07:10] #391 closed

[2020-09-18 07:17] ciotlosm commented on #384
@MRobi1 1.14.4.1 did not have any breaking changes or changes to zigbee2mqtt version of config. You probably just didn't restart 1.14.4 to observe the problem.
The problem with devices responding slow has nothing to do with `zigbee2mqtt` add-on and especially not with 1.14.4 to 1.14.4.1 update, as that has no changes to `zigbee2mqtt` version and codebase.
I have been observing the above issue `Zig

[2020-09-18 07:17] Arnchi commented on #391
I will check tonight sorry for making double comment.
Thank you for the quick responses though 👍🏻

[2020-09-18 07:23] ciotlosm commented on #267
The above is a problem with either adapter or firmware and not something for the add-on to fix. I recommend using https://github.com/Koenkk/zigbee2mqtt for such issues.

[2020-09-18 07:23] #267 closed

[2020-09-18 07:24] ciotlosm commented on #349
As this is a problem with either the adapter or the firmware and nothing that this repo can fix, I recommend you open an issue in https://github.com/Koenkk/zigbee2mqtt.

[2020-09-18 07:24] #349 closed

[2020-09-18 07:27] ciotlosm commented on #350
Closing this as questions were answered. Also I'm working to clean and improve documentation. Also contributions are welcome. The more people helping with docs, the clear would be for more people 😄

[2020-09-18 07:27] #350 closed

[2020-09-18 07:27] #355 closed

[2020-09-18 07:29] ciotlosm commented on #357
The problem is with the adapter or the firmware and not related to the add-on. Such issues should be opened on https://github.com/Koenkk/zigbee2mqtt

[2020-09-18 07:29] #357 closed

[2020-09-18 07:30] ciotlosm commented on #146
@danielwelch should we close this based on https://github.com/danielwelch/hassio-zigbee2mqtt/pull/388 ?

[2020-09-18 07:44] ciotlosm commented on #35
@danielwelch I recommend we close this old issue as the support for `devices.js` is complete and works with both `stable` and `edge`. If there are requests, new issues should be opened for `converters` (https://github.com/Koenkk/zigbee-herdsman-converters/tree/master/converters)

[2020-09-18 07:46] ciotlosm commented on #59
Considering there is no support for this for some time, I don't think this will get implemented soon. Also with the `boom` of possible [adapters](https://www.zigbee2mqtt.io/information/supported_adapters.html#supported-adapters) I don't think `led` is generic enough to get support anymore.

[2020-09-18 07:46] #59 closed

[2020-09-18 07:57] ciotlosm commented on #383
After further review this requires changes in the add-on to allow such files to be updated.

[2020-09-18 07:59] ciotlosm commented on #194
I think this should be re-evaluated in the light of this support: https://github.com/Koenkk/zigbee-herdsman-converters/issues/1343

[2020-09-18 08:03] ciotlosm commented on #373
I think the above `external_converters` implementation is broke the `devices.js` workaround that was implemented in this add-on. See https://github.com/Koenkk/zigbee-herdsman-converters/issues/1343 for details on that implementation, but I think the add-on will have to update with support for that.

[2020-09-18 08:04] ciotlosm commented on #358
Closing this as the issue is related to https://github.com/Koenkk/zigbee2mqtt

[2020-09-18 08:04] #358 closed

[2020-09-18 08:05] ciotlosm commented on #364
I will close this for now. If something still not working after using `watchdog` please reopen.

[2020-09-18 08:05] #364 closed

[2020-09-18 08:32] ciotlosm commented on #368
Closing this issue as the `edge` process currently requires reinstall, and the commit issue should be fixed with https://github.com/danielwelch/hassio-zigbee2mqtt/pull/388

[2020-09-18 08:32] #368 closed

[2020-09-18 08:58] markheloking commented on #235
It seems the required config options have changed between updates, but the upgrade doesn't automatically upgrade the config.

I had to remove:

[code]

And then insert:
[code]

[2020-09-18 09:06] ciotlosm commented on #235
This is a known issue as documented here: https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384

[2020-09-18 11:12] ciotlosm commented on #335
@jcampoy Can you provide a (random) example of the actual string you're trying to use in the string?
My understanding is that it should be something like: "1,3,5,7,9,11,13,15,0,2,4,6,8,10,12,13"

[2020-09-18 14:16] danielwelch commented on #146
If someone can confirm it works :)

[2020-09-18 14:29] rbron01 commented on #384
when you try to start the plugin it does not remove the
ban: []
whitelist: []

Also it adds the two below at the wrong place hence the YAML error. if corrected the way @markheloking has done all is fine
  availability_blocklist: []
  availability_passlist: []

**SOLUTION:
You can still use your config if you make the changes like this
1. Update the plugin and let it install
2. Goto the Configurati

[2020-09-18 14:39] danielwelch commented on #146
So you're not on edge? This is only supposed to work on edge as of now.

[2020-09-18 14:55] CodeFinder2 commented on #146
Ah sry, yes didn't use edge 🙈

[2020-09-18 14:59] danielwelch commented on #366
To clarify, you're suggesting implementing incremented versioning for edge (based on build number) in order to support updates through the UI?

[2020-09-18 15:24] lovelylain commented on #373
@ciotlosm It's because knutasund's zigbee2mqtt version is 1.14.3, but his devices.js is the latest version from zigbee-herdsman-converters, which has introduced a new file named './converters/store', this file is not exist in 1.14.3.

The new `external_converters` option is a better solution for custom device. Here is my experience:
[code]

[2020-09-19 05:23] ciotlosm commented on #373
@lovelylain thanks for the details. Would you write some docs to demonstrate `external_converters` setup with the add-on? I am happy to prepare the PR if you don't have time, the docs can be just a skeleton with the important bits (files, steps).

[2020-09-19 05:35] ciotlosm opened #392 "Documentation for using `external_converters` with add-on"
_Originally posted by @lovelylain in https://github.com/danielwelch/hassio-zigbee2mqtt/issues/373#issuecomment-694932496_

Extra information https://github.com/danielwelch/hassio-zigbee2mqtt/issues/373#issuecomment-695191755

@ciotlosm It's because knutasund's zigbee2mqtt version is 1.14.3, but his devices.js is the latest version from zigbee-herdsman-converters, which has introduced a new file na

[2020-09-19 05:38] ciotlosm commented on #384
@danielwelch If the changelog is always taken from the repo, I think that can be added there and no need for a release.

[2020-09-19 06:30] ciotlosm commented on #364
@0xygen8 @fufar I've also added https://github.com/danielwelch/hassio-zigbee2mqtt/pull/393 as this might improve things as well.

[2020-09-19 07:23] 0xygen8 commented on #364
That sounds like a real fix in opposite to the startup delay, thank you!

[2020-09-19 07:43] ciotlosm commented on #146
Finally got to install a dev instance wtih a separate stick. Seems the commit hash is still not working for edge.
[code]

[2020-09-19 08:23] ronniebee commented on #384
I try to add this to my config (hassio)

but I the save button greys_out.  when I ad two spaces before advanced I get:

Failed to save addon configuration, not a valid value for dictionary value @ data['options']. Got {'data_path': '/share/zigbee2mqtt', 'external_converters': [], 'devices': 'devices.yaml', 'groups': 'groups.yaml', 'homeassistant': True, 'permit_join': False, 'mqtt': {'base_topic':

[2020-09-19 08:32] ciotlosm commented on #384
@ronniebee try solution proposed in comment: https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384#issuecomment-693650970

[2020-09-19 08:47] ciotlosm commented on #366
@danielwelch that was in my mind, an incremented version for edge, but thinking about it now I'm unsure when `edge` builds get triggered. Nightly? Tied to z2m commits? On every commit on master?

The problem with the solution above is that if config.json requires to be changed on each build for `edge` that would pollute a lot history depending on how often that gets updated, so I have no solution

[2020-09-19 08:59] ronniebee commented on #384
That worked!! thx.....

[2020-09-19 09:27] Koenkk commented on #373
@ciotlosm do you still need my help here?

[2020-09-19 09:35] ciotlosm commented on #373
@Koenkk can you let us know (to avoid a lot of digging) if `external_converters` should cover use cases where people requested ability to change through the add-on more than just `devices.js`?

People have been requesting to change [fromZigbee.js](https://github.com/danielwelch/hassio-zigbee2mqtt/issues/383) [homeassistant.js utils.js](https://github.com/danielwelch/hassio-zigbee2mqtt/issues/194).

[2020-09-19 09:42] Koenkk commented on #373
- `fromZigbee.js`: this is possible, you can the define the converters yourself: https://github.com/Koenkk/zigbee2mqtt.io/blob/master/docs/externalConvertersExample/dummy-converter.js#L15
- `homeassistant.js`: also possible: https://github.com/Koenkk/zigbee2mqtt.io/blob/master/docs/externalConvertersExample/dummy-converter.js#L66
- `utils.js`: not possible and not something that should be added I

[2020-09-19 09:55] ciotlosm commented on #194
Closing based on https://github.com/danielwelch/hassio-zigbee2mqtt/issues/373#issuecomment-695191755 as this is supported through `external_converters`.

[2020-09-19 09:55] #194 closed

[2020-09-19 10:13] ciotlosm commented on #373
Closing this as the original problem was addressed in https://github.com/danielwelch/hassio-zigbee2mqtt/issues/373#issuecomment-695167161. Raised https://github.com/danielwelch/hassio-zigbee2mqtt/issues/392 for updating the docs.

[2020-09-19 10:13] #373 closed

[2020-09-19 10:18] ciotlosm commented on #146
@danielwelch apparently there is an [error](https://dev.azure.com/danielwelch2101/hassio-zigbee2mqtt/_build/results?buildId=424&view=logs&j=d822dde3-66a5-599f-9c9e-ed09ffe6609f&t=22f3bdd9-8b84-57c5-833f-5accb3b8a54d&l=1531) when running the pipeline.

[2020-09-19 10:44] #383 closed

[2020-09-19 13:09] ciotlosm commented on #146
Fixed in 1.14.4.2

[2020-09-19 13:09] #146 closed

[2020-09-19 13:52] ciotlosm commented on #392
Fixed by #394

[2020-09-19 13:52] #392 closed

[2020-09-19 13:57] ciotlosm commented on #229
@middelink I've removed the image from that page and added logo.png that is automatically fetched and served locally. See #394

[2020-09-19 14:03] ciotlosm commented on #311
Fixed in #353

[2020-09-19 14:03] #311 closed

[2020-09-19 15:01] ciotlosm commented on #335
Works for me on my test env with
[code]

[2020-09-19 15:01] #335 closed

[2020-09-20 07:30] coolduke666 commented on #384
have the same problem BUT mine didn't start even after I have resetted the config to default. also tried to reinstall the addon without any luck. have no idea how to proceed :(

[2020-09-20 07:31] ciotlosm commented on #384
@coolduke666 can you post the error?

[2020-09-20 07:33] coolduke666 commented on #384
Zigbee2MQTT:info  2020-09-20 09:33:18: Starting Zigbee2MQTT version 1.14.4 (commit #unknown)
Zigbee2MQTT:info  2020-09-20 09:33:18: Starting zigbee-herdsman...
Zigbee2MQTT:error 2020-09-20 09:33:30: Error while starting zigbee-herdsman
Zigbee2MQTT:error 2020-09-20 09:33:30: Failed to start zigbee
Zigbee2MQTT:error 2020-09-20 09:33:30: Exiting...
Zigbee2MQTT:error 2020-09-20 09:33:30: Error: AREQ -

[2020-09-20 07:35] coolduke666 commented on #384
here from the homeassistant log:

20-09-20 07:00:42 ERROR (MainThread) [supervisor.addons.addon] Add-on 7ad98f9c_zigbee2mqtt has invalid options: Missing option availability_blocklist in advanced. Got {'data_path': '/share/zigbee2mqtt', 'external_converters': [], 'devices': 'devices.yaml', 'groups': 'groups.yaml', 'homeassistant': True, 'permit_join': False, 'mqtt': {'base_topic': 'zigbee2mqtt', '

[2020-09-20 07:37] ciotlosm commented on #384
@coolduke666
For `Error: AREQ - ZDO - simpleDescRsp after 10000ms` try rebooting / removing and reattaching the USB stick / pressing the reset button on the stick and if nothing works, you will have to re-flash your z2m stick.

For the second error, your config still contains `availability_blacklist`. Please follow instructions from https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384#issu

[2020-09-20 07:38] coolduke666 commented on #384
this is my config from the add-on config tab:

data_path: /share/zigbee2mqtt
external_converters: []
devices: devices.yaml
groups: groups.yaml
homeassistant: true
permit_join: false
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://core-mosquitto'
  user: my_user
  password: my_password
serial:
  port: /dev/ttyACM1
advanced:
  log_level: info
  pan_id: 6754
  channel: 11
  network_key:
    - 1

[2020-09-20 07:40] coolduke666 commented on #384
looks to me like the add-on doesn't use the config with is shown in the add-on config tab. instead it is using some other configfile. but I have no clue, why and where to find this depeciated config file.

[2020-09-20 07:41] ciotlosm commented on #384
@coolduke666 the error is probably older, and your config now works, but the problem you have is with z2m not connecting to your stick: `Error: AREQ - ZDO - simpleDescRsp after 10000ms`. If your config was still broken, you would not have been able to get to that message.

[2020-09-20 07:46] coolduke666 commented on #384
hey ho... reseting the cc2531 did the trick - big thanks for you help 🥇

[2020-09-21 06:04] bjschuit commented on #384
I had the same problem with all versions after 1.14.1, so I had to restore to older versions. Just tried with 1.14.4.1 and now it works. However, I do not get log output in Home Assistant. After some time the error 'Failed to get addon logs, Bad Gateway' appears. Again, if I restore back to before 1.14.1 (I think) it all works flawlessly. My config (after latest update) is:

data_path: /share/zigb

[2020-09-21 06:05] jcampoy commented on #335
thank you @ciotlosm , I will take a look at this and test again.
regards,

[2020-09-21 06:20] ciotlosm commented on #384
@bjschuit can you please open a new issue with all the details please?
- current HA version
- current supervisor version
etc.

Also , try a full reboot of your HA as the `Failed to get addon logs, Bad Gateway` looks closer to Supervisor API problem.

[2020-09-21 07:29] bjschuit commented on #384
I stand corrected. The latest version that works is 1.14.2.
Version 1.14.3 wouldn't start, as it gave a configuration error "missing option avaibality_blocklist in advanced". That error is gone in 1.14.4.1, but I get no logs and no Zigbee device is working.

When I revert back to 1.14.2, everything works perfectly fine again.

This is with both HA 0.114.4 and latest 0.115.2.
Supervisor version is

[2020-09-21 07:52] ciotlosm commented on #384
@bjschuit did you try the exact steps in https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384#issuecomment-693650970 ? Your error seems to be the config problem by looking at your above posted logs

[2020-09-21 08:02] ciotlosm opened #396 "Use Services API from Supervisor to get MQTT credentials"
**Description of problem:**
Currently MQTT details are passed manually in the config, and it's not straightforward to hide your password (you can use !secrets, but it's not perfect).

A proposed change is to migrate the add=on config to use [Services API](https://developers.home-assistant.io/docs/add-ons/communication#services-api) and retrieve MQTT credentials in env variables using bashio

**run

[2020-09-21 08:09] ciotlosm opened #397 "Add support for Webbased frontend experimental feature"
**Description of problem:**
Add support for [Webbased frontend experimental feature](https://github.com/Koenkk/zigbee2mqtt/issues/4266) using [ingress](https://developers.home-assistant.io/docs/add-ons/presentation#ingress)

**Required updates**
- [ ] Docs.md update to include this new method for Permit Join and other operations
- [ ] Changelog.md to document new
- [ ] Update config.json with new

[2020-09-21 08:51] oldfart101 opened #398 "Zigbee USB setup"
I have a zigbee Texas Instruments CC2531 usb
inserting it into a bare-metal linux pc results in a directory being created:
`/dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0014D956FC-if00`

inserting it into a raspberry pi running home assistant does not create that directory.

Yet, the system for HA says the device is located in that directory.

I created an issue on HA github

[2020-09-21 09:11] ciotlosm commented on #398
@oldfart101  Can you post the content from: `Home Assistant` → `Supervisor` → `System` → `Host System` → ⋮ → `Hardware` when the stick is in your RPI?

From where do you want to access the USB stick? If from another add-on, you must make sure that it has `uart: true`. It's really important to understand that you can't access directly hardware devices from the Host inside containers, you must map t

[2020-09-21 09:17] bjschuit commented on #384
Thanks for  your quick response and the reference. After another look, I saw that I totally overlooked blacklist -> blocklist. I changed it and now it works. Sorry for the inconvenience.

[2020-09-21 09:30] oldfart101 commented on #398
My problem is zigbee2mqtt can't see the directory, I get error:
Zigbee2MQTT:error 2020-09-21 10:27:10: Error: Failed to connect to the adapter

where should the line uart:true be put?

output of hardware:

serial:
  - /dev/ttyACM0
  - >-
    /dev/serial/by-id/usb-Texas_Instruments_TI_CC2531_USB_CDC___0X00124B0014D956FC-if00
  - /dev/ttyAMA0
input: []
disk:
  - /dev/mmcblk0
  - /dev/mmcblk0p1
  - /

[2020-09-21 09:32] oldfart101 commented on #398
@ciotlosm - thanks for editing my post

[2020-09-21 09:34] ciotlosm commented on #398
@oldfart101 can you post you `zigbee2mqtt` addon config?

[2020-09-21 11:32] oldfart101 commented on #398
[code]

[2020-09-21 11:42] ciotlosm commented on #398
Try and set `log_level: info` to `log_level: debug` and post the logs from your add-on

[2020-09-21 11:57] oldfart101 commented on #398
[code]

[2020-09-21 12:59] ciotlosm commented on #398
Your actual error is `Error: SRSP - SYS - osalNvRead after 6000ms`. Try:
- removing and reattaching the usb stick
- pressing the reset button on the usb stick
- rebooting the system

If nothing works you will need to re-flash the usb stick with the firmware.

[2020-09-21 13:16] oldfart101 commented on #398
@ciotlosm - I have done all the above, several times

[2020-09-21 13:20] ciotlosm commented on #398
Did you reflash your firmware on the stick?

[2020-09-21 13:26] oldfart101 commented on #398
yes
and
It works fine on a bare-metal linux machine, running zigbee2mqtt - all the data goes to my mqtt broker

[2020-09-21 14:51] ciotlosm commented on #398
If you ran zigbee2mqtt on the linux machine, try changing `panID` number in your configuration to something different from `6754` and restart your adapter and add-on.

[2020-09-21 15:09] ciotlosm opened #399 "Migrate to a more stable add-on release workflow"
## Description of problem:
Currently when PRs are merge into `master`, any changes to `config.json` are automatically *seen* by Home Assistant installations. This is particularly visible when users are waiting for a release and constantly refreshing their Add-on Store. This has multiple implications:
- The build process for the new version is only kicked off after the PR was merged, so in some cas

[2020-09-21 16:24] oldfart101 commented on #398
Yipee!!
Removed USB, reboot.
Removed aerial, inserted USB - reboot.
pan-id changed (but then self reverted back to 6754)
replaced aerial
now sending data to mqtt broker

[2020-09-21 16:24] #398 closed

[2020-09-22 05:02] #35 closed

[2020-09-22 05:02] #229 closed

[2020-09-22 09:00] baldfox commented on #384
Did you fix this in the end? I too am having the issue with this error. I chose to default the config also.

[2020-09-22 09:07] oldfart101 commented on #384
I found the best way. Shut down the Pi. Remove USB. Power on. Insert USB.
Works for me every time.
Restart doesn't work, reboot sometimes works.

[2020-09-22 09:39] baldfox commented on #384
Ok will give that a go... I've tried the usual add-on, edge, rebooted the host god knows how many times. Defaulted my config (bar the mqtt details) and cannot get rid of this error:

Zigbee2MQTT:error 2020-09-22 15:37:13: Error: Failed to connect to the adapter (Error: SRSP - SYS - ping after 6000ms)
    at ZStackAdapter.<anonymous> (/zigbee2mqtt-1.14.4/node_modules/zigbee-herdsman/dist/adapter/z-

[2020-09-22 09:50] baldfox commented on #384
No joys unfortunately, still returns me this error:
Zigbee2MQTT:info  2020-09-22 15:49:33: Logging to console and directory: '/share/zigbee2mqtt/log/2020-09-22.15-49-33' filename: log.txt
Zigbee2MQTT:info  2020-09-22 15:49:33: Starting Zigbee2MQTT version 1.14.4 (commit #1.14.4)
Zigbee2MQTT:info  2020-09-22 15:49:33: Starting zigbee-herdsman...
Zigbee2MQTT:error 2020-09-22 15:49:58: Error while st

[2020-09-22 11:10] ciotlosm commented on #384
@baldfox check out https://github.com/danielwelch/hassio-zigbee2mqtt/issues/398

[2020-09-22 11:23] baldfox commented on #384
Thank you for that. I had a spare cc2531 lying around so flashed that and swapped it in and Z2M is working again. The strangest thing now is that if I try and relflash the original cc2531 that threw the spanner, all i seem to get is an ID of 3FFF or 7FFF. I am flashing using the small debugger cable and dupont cables... very odd. Maybe the last USB stick just died?

[2020-09-22 14:29] cibernox opened #400 "Zigbee2mqtt, fresh install: Not connected to MQTT server!"
First, I've google this and saw a few kind of old issues and comments in the HA community but none seemed to apply to what I was seeing.

I apologise if this is not the right repo to report the issue, it's hard for a newby to know wether the issue lies in the addon or on zigbee2mqtt itself, but I'm happy to move it is this is not the right place.

I acquired a cc2531 and today flashed it on my mac

[2020-09-22 14:55] ciotlosm commented on #400
I'll be brief:

- You need Mosquitto add-on installed: `Supervisor` - `Add-on store` - `Official add-ons` - Mosquitto broker`
- You need Mosquitto integration configured (with auto discovery) `Configuration` - `Integrations`
- You need to setup a user/ password for the add-on (this might go away in the future): `Configuration` - `Users`
- You need to use the internal namespace for the configuratio

[2020-09-22 15:25] cibernox commented on #400
@ciotlosm It did work like a charm!

For some reason the tutorial I followed didn't mention AT ALL any of these steps. Are those relatively new? The tutorial I followed was barely 4 months old. I just want to report if in case it is outdated.

Thank you so much!

[2020-09-22 15:25] #400 closed

[2020-09-22 15:39] ciotlosm commented on #400
Depends who maintains the tutorial. Ideally zigbee2mqtt should not contain in depth discussion about setting up mqtt. I do however think that at least a basic tutorial should exist of dependencies and most likely setup scenario.

However next release will probably contain "auto-setup" for mqtt, without you needing to setup a user / password or finding out the URL, as long as you have the core one

[2020-09-23 09:23] messismore commented on #397
I looked into this, but I was under the impression that addon configurations [only support two levels of nesting,](https://developers.home-assistant.io/docs/add-ons/configuration#options--schema) hence `"port": "int?"` would be ignored.

[2020-09-23 09:26] ciotlosm commented on #397
@messismore I didn't test yet as I was looking into some pipeline optimizations, but best is to set it up and try it on a local build. I might get to it later today or tomorrow.

[2020-09-23 10:23] ciotlosm commented on #397
@messismore you are correct, I re-tested and it's still the case:
[code]

@Koenkk is it possible to change the setup? Ideally would be something like:
[code]

[2020-09-23 10:56] ciotlosm commented on #399
@Koenkk @danielwelch I am testing at the moment build speed improvements: https://dev.azure.com/zigbee2mqtt/Zigbee2mqtt%20Add-on/_build

Please ignore all the different naming, I've tried to avoid crashing anything existing, and I had no access to current pipelines. Speed improvement seems to be decent, around `10 minutes`. The job now auto-generates parallel jobs for each architecture and there a

[2020-09-23 12:02] ciotlosm commented on #397
Based on the code in z2m if you have `experimental.frontend` you load the extension and if `port` is not specified it falls back to `8080`.

I was able to get the frontend started by using:
[code]
and
[code]
[code]

However it seems the setup is not `ingress` friendly. I'm still debugging to understand why. It might be that `api` calls are trying to get through on the wrong path.

[2020-09-23 21:02] iBobik commented on #391
Yeah, it was really good move to solve racism in USA by breaking our home automations with auto updates on. ;-)

[2020-09-23 22:24] dunxd opened #403 "Addon fails to start after update to 1.14.4.2"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

1.14.4.2

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Home Assistant 0.115.2

**Description of problem:**
I resolved the issues with 1.14.4.1 by updating the config to the new block and passlist names.  On updating to 1.14.4.2 today, zigbee2mqtt add on fails to start.

**Your ent

[2020-09-24 04:16] ciotlosm commented on #403
@dunxd can you please change `log_level` to `debug` and restart the add-on? The trace provided is not very explicit.

[2020-09-24 07:40] ciotlosm commented on #397
This is now working in latest `edge`, but with the configuration workaround specified above.

[2020-09-24 09:46] M1kk0H commented on #403
Hi, I have a same problem. Here is my log with debug level.

[s6-init] making user provided files available at /var/run/s6/etc...exited 0.
[s6-init] ensuring user provided files have correct perms...exited 0.
[fix-attrs.d] applying ownership & permissions fixes...
[fix-attrs.d] done.
[cont-init.d] executing container initialization scripts...
[cont-init.d] done.
[services.d] starting services
[ser

[2020-09-24 09:59] ciotlosm commented on #403
Your error `UnhandledPromiseRejectionWarning: Error: SREQ '--> ZDO - activeEpReq - ... failed with status '(0xc2: NWK_INVALID_REQUEST)' ...` points to a problem with your adapter.

You can try a few steps:
- Remove and reinsert CC2531
- Press reset button on CC2531
- Change the `panId` ⚠️ unsure if this would require you to repair all your devices

If nothing works, try to re-flash the USB with th

[2020-09-24 10:12] M1kk0H commented on #403
Hi,
Thanks for help! In my case Press reset button on CC2531 helped and solved the problem. Remove and reinsert didn't work.

By the way what is easiest way to check  ZStack/Firmware on CC2531?

[2020-09-24 10:25] ciotlosm commented on #403
@M1kk0H you can use Edge version of the add-on and that gives you a lot of debug messages on startup including that or if you want to use Stable and get the information, you can use for Stable:

**Configuration → Integrations → MQTT → Configure → Listen to a topic**
Topic to subscribe to: `zigbee2mqtt/bridge/config` → **Start Listening**

You should see a JSON like this:
[code]

[2020-09-24 11:46] dunxd commented on #403
In my experience it wasn't necessary to do anything with my CC2531. After I changed log_level to debug and restarted zigbee2mqtt add-on things started working again.

I ended up restoring a backup with HA 1.115.0 and Zigbee2Mqtt add-on 1.14.2, and things started working again. I then brought zigbee2mqtt up to date (1.14.4) and things still worked, so I finally brought HA up to date (1.115.2) and s

[2020-09-24 11:48] ciotlosm commented on #403
I might have been that something kept the resource busy. Maybe the Supervisor didn't release the serial port resources from the older version before the new one got installed, so it just needed time to recover. This has nothing to do with the add-on itself.

[2020-09-24 11:48] #403 closed

[2020-09-24 11:58] dunxd commented on #403
I think it might have been something like that. I haven't encountered with any previous updates. The issue did persist between HA reboots, but perhaps it just requires more patience on my part.
Thanks for assistance.

[2020-09-25 04:13] megavolts commented on #384
Running on CC26x2R1, I run into similar problem with zigbee2mqtt failing to start, below the only log I was able to pull out of docker.

[code]
I fiddled around, and found that z2m failed to start with channel set at 25 and 26, but starts with channel set at 11 or 20. I did not test any other channel.

[code]

[2020-09-25 07:15] ciotlosm commented on #384
@megavolts can you please open a new issue for that? This issue should be related to the change from `blacklist` to `blocklist` and similar. That way we don't pollute this and are able to focus on fixing any potential issues that you discovered.

I also have CC26X2R1 (zzh!) adapter and I have `availability_timeout` `channel` set, so the problem is somewhere else.

[2020-09-25 10:32] scutaru commented on #384
It worked for me too, but only for 1 or 2 days. After that, it started showing the same error.

_Zigbee2MQTT:info  2020-09-25 13:30:35: Starting Zigbee2MQTT version 1.14.4 (commit #1.14.4)
Zigbee2MQTT:info  2020-09-25 13:30:35: Starting zigbee-herdsman...
Zigbee2MQTT:error 2020-09-25 13:31:15: Error while starting zigbee-herdsman
Zigbee2MQTT:error 2020-09-25 13:31:15: Failed to start zigbee
Zigbee

[2020-09-25 10:35] ciotlosm commented on #384
Closing this issue as people are posting problems that are unrelated to initial problem.
@scutaru your issue is not with the add-on, but with communication between adapter and z2m. Read through https://github.com/Koenkk/zigbee2mqtt/issues/2997 maybe you find more details and a solution.

[2020-09-25 10:35] #384 closed

[2020-09-25 10:37] ciotlosm commented on #366
Closing this in favour of #399

[2020-09-25 10:37] #366 closed

[2020-09-25 11:22] ciotlosm commented on #399
My recommendation is to use `dev` branch, and log any PRs against that branch

### What would need to be updated
- Azure Pipeline code must come from `dev` branch
- Azure Pipeline must track `dev` branch changes and PRs
- Stable & Edge build triggers should be done based on key folder file (Dockerfile, run.sh, socat.sh, config.json) only
- Stable build should use config.json version value for buil

[2020-09-25 11:27] legolas0802 opened #408 "Vimar 14592.0"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
Can you add ti device.js?
{
    zigbeeModel: ['2_Way_Switch_v1.0', 'On_Off_Switch_v1.0'],
    model: '14592.0',
    vendor: 'Vimar',
    description: '2-way switch IoT connected mechanism',
    supports: 'on/off',
    fromZigbee: [fz.on_off],
    toZigbee: [tz.on_off],
    meta: {configureKey: 3},
    configure: async (device, co

[2020-09-25 11:34] ciotlosm commented on #408
@legolas0802 This repository is for the add-on specific changes and problems. You would need to go here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose and use **New device support request**

[2020-09-25 11:34] #408 closed

[2020-09-26 13:26] danielwelch commented on #399
Hey @ciotlosm , sorry I've been gone since you started all this great work. I agree that option 1 is the way to go. I think all the goals can be accomplished with some simple scripts. Really like the changes you've made so far and agree with them all. We are in the middle of a serious network outage at our hospital, so I won't have much time to look at this or assist in the near future, but will f

[2020-09-27 09:38] ciotlosm commented on #399
@danielwelch no worries, hope things work out at your end. I will try to accomplish part of the setup. The only thing missing is access to your Azure Pipelines to update them for speed, and in order to keep images published in the right repos, probably access in DockerHub or for you to setup on the Azure side a Docker Hub connector (so we can move away from pipeline env variables.

[2020-09-28 16:24] ciotlosm opened #410 "Release tag validation & automation"
As we migrate to a more stable workflow we need to add a few extra checks (one was dropped during speed run optimisation).

Make sure the `tag` done on `dev` branch for releasing Stable respects all required criteria:
- [ ] `tag` is created automatically on `config.json` version changes or `tag` corresponds to the `version` in `zigbee2mqtt/config.json`
- [ ] `tag`/`config.json version` contains th

[2020-09-28 16:32] ciotlosm opened #411 "Automate merges to master"
**Depends on stable workflow & tag automation**

Automatically merge `dev` branch to `master` when:
- [ ] A build & push build completes for Edge
  - [ ] Set this to fail if any changes to files to Stable zone (zigbee2mqtt/) in the same PR
- [ ] A build & push build completes for Stable

Any files that don't trigger a build that get changed will be manually merged to `master` when it makes sense:

[2020-09-28 16:45] ciotlosm commented on #399
I tried to setup Azure Pipelines in the new organisation (zigbee2mqtt) but I don't have permissions to hook to this repo: `Unable to configure a service on the selected GitHub repository. This is likely caused by not having the necessary permission to manage hooks for the selected repository.`

I could probably push to the new zigbee2mqtt Docker Hub organisation, but this will probably reset downl

[2020-09-28 19:41] ciotlosm opened #412 "Add markdown readme on Docker Hub"
- Add markdown readme on Docker Hub automatically from the pipeline or build
- Make sure the information is not duplicated (reuse current Readme.md whenever possible)
- Make sure current readme doesn't have any info that creates broken links on hub

[2020-09-28 23:07] danielwelch commented on #399
I'm good with using the new orgs. I can't find a setting to give you the necessary permissions to set up that integration, so if you're aware let me know. Otherwise I'll keep looking.

[2020-09-29 09:52] ciotlosm commented on #399
@danielwelch It seems I can't find a way to allow collaborators to use webhooks on personal projects. I will keep looking as well.

Available other options:
- Move project and an org
- You to setup pipelines

[2020-09-29 20:41] ciotlosm commented on #396
Output example:
[code]

[2020-09-29 20:43] ciotlosm commented on #396
Closing as solved in `dev` branch

[2020-09-29 20:43] #396 closed

[2020-09-29 20:55] ciotlosm opened #422 "RFC: Migrate from pm2 to integrated watchdog"
As Home Assistant released `watchdog` functionality for add-ons, I'm opening up for discussion if we should drop pm2 and adopt the integrated `watchdog`.

**Watchdog** was added here: https://github.com/home-assistant/supervisor/pull/1970 as part of Supervisor `236`

[2020-09-30 15:39] ciotlosm opened #424 "Auto-detect type of adapter (ex. conbee)"
Use https://developers.home-assistant.io/docs/add-ons/communication#supervisor-api to get serial information and build some type of matching to auto-detect type of adapters.

This would facilitate automatically setting the adapter type for some sticks. See: https://www.zigbee2mqtt.io/information/supported_adapters.html#conbee-ii

[2020-10-01 06:59] ciotlosm opened #425 "RFC: Add-on version management"
## Description of problem:
Sometimes there are configuration option changes that cause the add-on to fail to start
- Renaming of some options: ex.`blacklist` - `blocklist`
- Renaming of some specific add-on options like: `zigbee2mqtt_shepherd_debug` to `zigbee2mqtt_herdsmen_debug`

https://github.com/danielwelch/hassio-zigbee2mqtt/issues/384#issuecomment-694243653
https://github.com/danielwelch/ha

[2020-10-01 13:32] Limych opened #426 "Error while starting zigbee-herdsman"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.14.4.2

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Hassio on Docker on Raspberry PI

**Description of problem:**

Add-on failed when trying to start. Repeatedly.

In this case, the adapter is correctly detected when trying to manually connect:
[code]

On previous versions of th

[2020-10-01 14:52] ciotlosm commented on #426
This is usually a problem with your adapter. Read through https://github.com/Koenkk/zigbee2mqtt/issues/2997
Usually you can try pressing the reset button on the adapter, but if nothing fails you might need to re-flash the stick.

This is not a problem with z2m add-on, but with the actual communication between z2m and the adapter. Usually these issues should go here: https://github.com/Koenkk/zigbe

[2020-10-01 15:19] Limych commented on #426
Thank you for support. Re-flashing of the stick fixed the problem.

[2020-10-01 15:19] #426 closed

[2020-10-01 15:50] heizie opened #428 "can't install new update 1.15"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
None

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
Raspberry pi 3 running Home Assistant image

**Description of problem:**
I've added our repository, but when i click install, then it said
`20-10-01 15:34:06 ERROR (SyncWorker_4) [supervisor.docker.interface] Can't install dwelch210

[2020-10-01 15:53] ciotlosm commented on #428
Build is still ongoing (see: https://dev.azure.com/danielwelch2101/hassio-zigbee2mqtt/_build/results?buildId=506&view=logs&j=dd1c38ba-a38b-54e6-47f3-80caee1bb8fb&t=de30a05a-fcaf-5a3b-671f-2bf0948816e9). To fix people trying to download the version too early is in progress with https://github.com/danielwelch/hassio-zigbee2mqtt/issues/399.

Please be patient, it should be there in around 20 more min

[2020-10-01 15:54] #428 closed, assigned to nobody

[2020-10-01 16:35] bruvv opened #431 "New front-end: 503: Service Unavailable"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
Docker on synology with Hassio setup

**Description of problem:**
When updating to the new 1.15.0 version I want to test the new frontend. But ingress is showing:
503: Service Unavailable

**Your entire configuration from the fron

[2020-10-01 16:36] ciotlosm commented on #431
It takes a while to start it seems, but mine came up eventually. For some reason it's slower than it was on edge which I'm investigating.

[2020-10-01 16:43] bruvv commented on #431
waiting for 5 minutes works thanks :)

[2020-10-01 16:49] ciotlosm commented on #431
It seems it takes the same on Edge (at least in latest edge), where it takes around 30-45 seconds after `node` is started by the add-on for the frontend to be available on my setup.

I will close this issue, but I'll try to see if there is an easier way to debug (maybe `info` messages) to see when frontend completed startup. I will put a warning as well in the docs for people to wait for it to loa

[2020-10-01 16:49] #431 closed

[2020-10-01 19:19] Dinth commented on #422
Are there any benefits of pm2 over built in watchdog?

[2020-10-01 19:24] ciotlosm commented on #422
I've not investigated a side by side comparison. We've introduced `pm2` before watchdog was available and before z2m became more stable to avoid the add-on dying.

I've raised this issue to discuss options with more people, as there might be some benefits to one solution over the other.

One plus for using watchdog is removal of a process (pm2) that is not usually used in any other system except t

[2020-10-01 21:12] thomasgermain opened #433 "Error while starting zigbee-herdsman - Npm Error"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
HassOS 4.13
Conbee II

**Description of problem:**
The addon doesn't start.
It seems quite hard to me to identify what I can do. The HA logs says there is a npm debug file here `/root/.npm/_logs/2020-10-01T20_55_06_357Z-debug.log`

[2020-10-01 21:18] thomasgermain commented on #433
And of course, just after submitting the issue, I found the problem:
I just replaced `server: 'mqtt://core-mosquitto:1883'` by `server: 'mqtt://core-mosquitto'` (without the port) in my configuration.

I can't even remember why I added the port.

So anyway, thanks for the addon, i'm gonna start playing with it 😄

[2020-10-01 21:18] #433 closed

[2020-10-01 21:23] ciotlosm commented on #433
Keep an eye out for a new release. We are simplifying mqtt setup

[2020-10-02 17:54] dinhchinh82 opened #434 "Unable to start zigbee2mqtt 1.15.0 addon if using external converter"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
Z2m addon version: 1.15.0
**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Raspberry Pi3, HASSIO version 0.115.6

**Description of problem:**
I've just upgraded new 1.15.0 Z2M add on version and it is unable to start if using the external converter like below:
[code]

**Your logs from

[2020-10-03 02:13] scootec commented on #424
I had this working in my DIY add-on but have removed it temporarily thinking that it is functionality that probably should exist within Zigbee2MQTT (with the `adapter: null` option).
Check it out here:
[Here is the relevant line in the config script.](https://github.com/scootec/addon-zigbee2mqtt/blob/adfabbd68578bddc293494dc9556edb67d5eb48b/zigbee2mqtt/rootfs/etc/cont-init.d/zigbee2mqtt.sh#L26)

[2020-10-03 06:42] ciotlosm commented on #434
Your `devices.js` might not be compatible with the new version. This was always a workaround that probably should only be used for short periods until your device got into `master` for converters.

You can however fix you problem in two ways (see: https://github.com/danielwelch/hassio-zigbee2mqtt#adding-support-for-new-devices)

- You can get a new `devices.js` as described in the documentation -

[2020-10-03 06:49] ciotlosm commented on #424
@scootec i've had a look at your repo, and it seems you are using some more advanced concepts for the init scripts and parts of build. Are you not interested to get some of those concepts merged in this repo?

[2020-10-03 07:50] scootec commented on #424
@ciotlosm I would be keen to get them merged here. I initially created my version just to learn more about how addons worked, but ended up keeping it rolling since I liked having my config saved in the `/config` directory with home assistant and other community addons.

I had planned on adding options to the addon options that would enable herdsman debugging, and other things you cannot achieve by

[2020-10-03 08:14] ciotlosm commented on #424
@scootec make sure you use the `dev` branch for your PR. I am going to release the dev branch soon, but I think besides the adapter, a migration to proper s6 services is needed. In my mind next steps would be:
- Release current dev changes
- Migrate from run.sh to s6 services and startup scripts
- Drop the socat.sh hack (calling itself with a background run) and use a proper service
- Add the adap

[2020-10-03 13:01] dinhchinh82 commented on #434
That's correct. I use new version of device.js and that's the reason. Just rollback to the version which is compatible with z2m 1.15.0 (3 days ago) and it works.

Thank you so much.

[2020-10-03 13:01] #434 closed

[2020-10-03 14:18] dinhchinh82 opened #435 "Unable to set the invert_cover option in the configuration.yaml"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
HASSIO addon version 1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**
Here are the steps to reproduce the procedure:
Step 1: Set the "invert_cover" option to be "true" under "device_options"
Step 2: Restart the addon

Step 3: check the detail content

[2020-10-03 18:31] ciotlosm commented on #435
This option is not part of the config for the add-on. It needs to be added and a new version released. I will add this in the next release

[2020-10-04 03:58] dinhchinh82 commented on #435
Great. When do you plan to release new version?
Thank you.

[2020-10-04 06:41] ciotlosm commented on #435
I've tried to find `invert_cover` option in z2m docs, but I'm unable to find it. Can you point me to where it was implemented? I found [something]() but it was not under `device_options`.

Also found that you can use this in the current version like this:
[code]

[2020-10-04 10:47] slydiman opened #436 "Unknown power source for QBKG03LM and QBKG04LM"
Zigbee2mqtt v1.15.0 add-on shows unknown power source for devices QBKG03LM and QBKG04LM.
Reconfiguration does not help.
![invalid_power](https://user-images.githubusercontent.com/16115622/95013273-52215a80-0650-11eb-8912-c98a2690be32.jpg)

[2020-10-04 15:22] dinhchinh82 commented on #435
@ciotlosm you can check the document below:
https://www.zigbee2mqtt.io/devices/TS0601_curtain.html

[2020-10-04 15:28] dinhchinh82 commented on #435
I confirm this configuration works well so it's fine to close this issue.
Thank you so much.

[2020-10-05 07:07] V-Zemlyakov commented on #436
![изображение](https://user-images.githubusercontent.com/7317817/95049398-5a31d680-06f2-11eb-86f0-902f01f004e1.png)
and LLKZMK11LM

[2020-10-05 07:34] ciotlosm commented on #436
There are probably more, but this is not a problem with the add-on. I think it's just a rendering problem with the built-in frontend, where it gets its data. I will leave this item opened for now, but the icon should not cause any issues with your setup.

[2020-10-05 08:08] #435 closed

[2020-10-05 10:21] slydiman commented on #436
In the SLS gateway with the same UI such icon usually means an incomplete device interview after peering.
I'm sure it is not too hard to fix this issue. Thanks.

[2020-10-06 08:13] Gulivert opened #437 "I cant add again a device after i erased it"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
Raspberry Pi 4

I connected a siren to zigbee2mqtt, it give my problem, i erased it **checking the button to be able to connect again later** but now i cant connect it again

**Your entire configuration from the frontend (with sen

[2020-10-06 18:43] ciotlosm commented on #437
Any logs available? Best to use edge with debug enabled to be able to help

[2020-10-07 06:55] Gulivert commented on #437
I have tried to put it in debug mode, but the only traces that the log shows me are those of the devices that I already have connected. There is some file where it saves the devide it refuse to connect? I saw a blocklist property in the config but is empty.

[2020-10-07 07:50] ciotlosm commented on #437
To have proper debug (for now) is to use Edge version unfortunately using the `zigbee_herdsman_debug` option

[2020-10-07 10:40] dinhchinh82 opened #438 "Unable to use the external_converters (Cannot find module 'zigbee-herdsman-converters')"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

Zigbee2mqtt Addon 1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
HassIO 0.115.6

**Description of problem:**
It's unable to start the z2m if adding the external converter.
The file freepad_ext.js is placed in the folder '/usr/share/hassio/share/zigbee2mqtt
We also tried the o

[2020-10-07 11:08] JavierSegoviaCordoba opened #439 "Unable to start the add-on"
**zigbee2mqtt add-on version:**
1.15.0

**Operating environment:**
HassOS 4.13

**Description of problem:**
I am unable to start the add-on because the image does not exist.

**Your logs from Home Assistant**
[code]

[2020-10-07 11:34] ciotlosm commented on #439
The image is there: https://registry.hub.docker.com/r/dwelch2101/zigbee2mqtt-armv7/tags The only other reasons you might get this error is lack of available space on your HassOS installation.

[2020-10-07 11:39] JavierSegoviaCordoba commented on #439
@ciotlosm I just updated to `1.15.0` when it started to fail

Currently, my System Metrics report this: Used space 10.3%

[2020-10-07 12:05] ciotlosm commented on #439
Try to backup your add-on config and do a full uninstall / reinstall and restore your config after.

[2020-10-07 12:33] JavierSegoviaCordoba commented on #439
I am getting a timeout when I try to install it

[2020-10-07 12:46] JavierSegoviaCordoba commented on #439
After rebooting I could reinstall it, and it starts now, thank you!

[2020-10-07 12:46] #439 closed

[2020-10-08 06:32] Gulivert commented on #437
I install the edge version with the option, but the only new thing that show me is:
File /share/zigbee2mqtt/devices.js not found! Starting with default devices.js

The device will be:
https://www.zigbee2mqtt.io/devices/SZ-SRN12N.html

[2020-10-08 12:13] ahonxxx commented on #437
After deleting a device, you cannot add a device. After installing zigbee2mqtt again, you cannot add a device

[2020-10-08 13:22] Gulivert commented on #437
So what options do I have? Is there a file with the deleted devices that I can modify?

[2020-10-08 13:45] ahonxxx commented on #437
I encountered the same situation as you, I am not proficient in English, translation seems to have a little problem, my operating environment is running on synoogy Hass.io 。Waiting for a solution

[2020-10-09 02:56] scootec commented on #424
@ciotlosm sounds good to me.
Once you merge the changes to the dev branch I will jump in and see what I can do 👍

[2020-10-09 09:33] s3frank opened #440 "LQI slowly goes up to 255, then drops to 0 and climbs again...bug?"
Hi there,
I am running Conbee II on RPI4. I have Debian 10 installed, Docker and run Homeassistant (0.116.2) in containers on it. I have installed the official hassio addon for zigbee2mqtt and i am absolutely loving it. You have done amazing work and packaged it so well, thank you for that. My network is stable and automations in NodeRed work super smooth and fast.

But my LQI data seems to not re

[2020-10-09 15:39] Censseo opened #441 "Unable to pair any device with new install (Hassio 5.1 64 bits)"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
HassOS 64bits 5.1 on Rpi4 with SSD boot

**Description of problem:**
I did a fresh install of HassOS with the last 5.1 dev build to be able to boot from SSD, and since I am not able to pair anydevice with zigbee2mqtt anymore.

I h

[2020-10-09 22:35] Censseo commented on #441
Hello, I found the reason, the SSD is interfering with the zigbee key...
I used this solution:
https://www.youtube.com/watch?v=2PK3TrOGWNs&ab_channel=SmartHomeJunkie

[2020-10-09 22:35] #441 closed

[2020-10-10 05:41] ciotlosm commented on #440
That is not a problem with the add-on, however the behaviour you are showing is what you get usually when you're graphing a "counter". The drop is usually when the counter reaches max and starts from min again.

I'm using 1.15.0 and LQI is ok on my setup, so my best guess is that for Conbee the metric is not exposed correctly.

As this is certainly not a problem with the add-on, I would recommend

[2020-10-10 05:41] #440 closed

[2020-10-10 05:45] ciotlosm commented on #438
Could you also provide the content of your `freepad_ext.js` ?

[2020-10-10 06:21] ciotlosm commented on #436
The code that calculates that icon is here:
https://github.com/nurikk/z2m-frontend/blob/6a89c9eca1b399cea40859d64c17dff8d0c23042/src/components/power-source/index.tsx#L12

The available types are here:
https://github.com/Koenkk/zigbee-herdsman/blob/e55f57311efc167c23394edd7263fcfc89c05830/src/zcl/definition/powerSource.ts#L1

The type of power source seems to have some sort of automatic detection:

[2020-10-10 06:56] ciotlosm commented on #437
@ahonxxx don't worry about english. If i can't understand something from translation I will ask for more details.

@Gulivert Can you provide exact steps? I don't know how you `erased` a device. Was it through the built-in frontend? What options did you click?

![Screenshot 2020-10-10 at 09 56 00](https://user-images.githubusercontent.com/7738048/95648305-d8212380-0ade-11eb-9614-c0e32bda19d5.png)

[2020-10-10 07:12] ciotlosm commented on #436
This should be fixed in Edge, according to https://github.com/nurikk/z2m-frontend/commit/d79829379c0c35ec01340dc5613e7d8c7788efdc#diff-1a4a20802399da556e0eb82075224ce8

[2020-10-10 09:09] ciotlosm commented on #397
This is now released with 1.15.0

[2020-10-10 09:09] #397 closed

[2020-10-10 09:13] ciotlosm commented on #399
- I setup Zigbee2mqtt org here: https://github.com/Zigbee2mqtt
- I forked the add-on (for now) here: https://github.com/Zigbee2mqtt/hassio-zigbee2mqtt
- Fork uses `dev` as default branch
- I setup new pipelines here: https://dev.azure.com/zigbee2mqtt/Zigbee2mqtt%20Add-on/_build
- I setup new docker hub repo here: https://hub.docker.com/orgs/zigbee2mqtt/repositories

Still TODO:
- [ ] Add back tag

[2020-10-10 09:13] #399 closed

[2020-10-10 09:15] ciotlosm commented on #412
I will close this as it brings little benefit. Consider reopening if someone wants to make time for it.

[2020-10-10 09:15] #412 closed

[2020-10-10 09:18] ciotlosm commented on #411
I will close this for now as it's missing quite few basic building blocks to be achievable.
Merges to master can also be done outside of releases (doc updates, etc.)

Stable release flow for now:
- Push to `dev` branch correct updates and version changes
- Create tag from `dev` branch -> triggers Stable build pipeline
- Wait for pipeline to complete
- Merge changes from `dev` to master and make ve

[2020-10-10 09:18] #411 closed

[2020-10-10 09:20] ciotlosm commented on #410
Closing in favor of https://github.com/Zigbee2mqtt/hassio-zigbee2mqtt/issues/4 for now

[2020-10-10 09:20] #410 closed

[2020-10-10 09:30] #436 closed

[2020-10-10 09:49] ciotlosm commented on #422
I will test this out on a fork here: https://github.com/Zigbee2mqtt/hassio-zigbee2mqtt as removing pm2 will reduce complexity.

[2020-10-10 09:49] #422 closed

[2020-10-10 10:08] s3frank commented on #440
Alright thanks. I have opened a new issue with zigbee2mqtt. I agree it looks like that is a problem on that part as Home Assistant is really just the client / viewer of the data that it receives via mqtt. For completeness here is the issue link:
https://github.com/Koenkk/zigbee2mqtt/issues/4630

[2020-10-10 13:56] ahonxxx commented on #437
@ciotlosm  Thank you. After I updated to 1.15.0, through the built-in front-end interface, I checked forced deletion when deleting devices. After deleting, I could not add devices. I have 5 ZigBee devices in total. After deleting the remaining 4 devices, I can no longer add devices. I unloaded the hass.io After the deployment, ZigBee devices can not be added.

[2020-10-10 21:50] danielwelch commented on #399
Looks great! I’m happy to do whatever you think is best re: transferring the project to the organization, personally it seems that’s the way to go to me.

[2020-10-10 22:02] danielwelch commented on #422
Would love to remove pm2 in favor of built-in watchdog if possible.

[2020-10-11 01:41] dinhchinh82 commented on #438
we also tried with default `freepad_ext.js` sample file from the link below and got error:
https://github.com/Koenkk/zigbee2mqtt.io/blob/master/docs/externalConvertersExample/freepad_ext.js

[2020-10-11 06:20] ciotlosm commented on #422
It is now possible, as the container is built with base  which has integrated [s6-overlay](https://github.com/just-containers/s6-overlay#writing-a-service-script). That has its own service management as well, so including watchdog it's double resilience.

I've migrated scripts to [this model](https://github.com/zigbee2mqtt/hassio-zigbee2mqtt/tree/dev/common/rootfs/etc/) thanks to @scootec and I'm

[2020-10-11 07:06] ciotlosm commented on #438
I've tested this and is indeed a problem. I've asked also on z2m project as I'm unsure if this is really a problem with the feature or a path problem on how we handle this in the add-on.

[2020-10-11 07:13] ciotlosm commented on #437
@ahonxxx I assume you are putting your coordinator in pairing mode from the UI. Do you have any active router in your setup or just end devices?

[2020-10-11 07:15] ciotlosm commented on #424
@scootec I've started the work with pipeline builds and all here for now: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt
You can have a look there, and start a PR against `dev` branch. I'm still getting fixes in as local development is slow, but it's closer to the final form now.

[2020-10-11 08:48] theoden9017 opened #444 "BTicino living now - Device doesn't expose anything"
Hi,
Last week I bought the BTicino smart switch K4003C without its Gateway.
using **zigbee2mqtt-edge 1.15.0-dev (commit #a132094)** add-on with my conbee2 I have discovered the device, but unfortunatly no action was expose

[code]

so i set zigbee_shepherd_devices to true
and added to my data_path the folder for supporting new devices (**v12.0.208**):
- https://github.com/danielwelch/hassio-zigbee

[2020-10-11 08:56] ciotlosm commented on #444
Unfortunately your problem is within z2m code (or herdsman converters) which I don't have enough knowledge to assist. I recommend you raise an issue here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose

I would have recommended to avoid using the `devices.js` approach, but using `external_converters` unfortunately is not yet an option, as it has a bug (#438).

[2020-10-11 09:14] theoden9017 commented on #444
Ok thanks for the tip, i reposted the problem here:
https://github.com/Koenkk/zigbee2mqtt/issues/4638

[2020-10-11 09:17] #444 closed

[2020-10-11 12:03] ciotlosm commented on #438
@dinhchinh82 Found the bug. If you want to test out the fix you can try using: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt as repository.

[2020-10-11 12:06] ciotlosm commented on #425
I think best is to go with X.X.X-A and make sure we call out in CHANGELOG.md when we're planning to decommission a configuration property, and just keep patch in the service-init until we remove it to avoid breaking user config.

[2020-10-11 12:06] #425 closed

[2020-10-11 18:53] Aerallo commented on #437
I have the same problem, I even tried pairing new devices on a different RPi but after this update I cannot add anything. To answer the latest question, I have about 10 devices mixed with active and end

[2020-10-12 04:38] ciotlosm commented on #437
What kind of stick / firmware do you use? What is your startup debug message? Are you putting it in pairing mode?

[2020-10-12 07:24] Toinieboy opened #445 "Repostitory structure for v1.15.0 is not compliant"
Am i at a too high version? Running  0.116.2

[2020-10-12 07:58] ciotlosm commented on #445
You are making confusions between component versions. If you are running home assistant you will have (stable versions):
- Home Assistant Core: which is `0.116.2` at the time of this writing
- Home Assistant Supervisor: which is `247` at the time of this writing
- Home Assistant OS: which is `4.14`  at the time of this writing

On top of the above you will have add-ons which are supported and mana

[2020-10-12 08:22] Toinieboy commented on #445
Hi Ciotlosm,

this is the error i'm receiving when i want to add the custom repository.

Kind regards
Toine

[2020-10-12 08:23] #445 closed

[2020-10-12 10:04] Toinieboy opened #446 "502: Bad Gateway on Start-up"
Hi,

got the add-on installed, but getting an 502: Bad Gateway when trying to run the add-on.
Home Assistant 0.116 on RBpi4 in docker.
Got 8099 allowed in the ufw rules.

8099 ssl:default [Connection refused] though

What am i doing wrong?

[2020-10-12 10:23] Gulivert commented on #437
In my case i use the "force remove" but not the "block from joining again". After that whe i put the device on pairing, it didnt show mup.

[2020-10-12 11:15] ciotlosm commented on #446
Can you post your config? Why are you not just using ingress? Did you setup your `new_api` property? Usually the built-in frontend takes up to 5 minutes to start from the time the add-on started. Also this is influenced on the number of automations or if you have other stuff like Zigbee2mqttAssistant

[2020-10-12 11:16] ciotlosm commented on #437
@Gulivert make sure you also put the coordinator in pairing mode.

[2020-10-12 11:45] Toinieboy commented on #446
Hi,

Not too much automation running yet and no other stuff installed. Even going through ingress i am getting the same error.

I'm fairly new to MQTT so i might be missing something. Installed Mosquitto broker.

Adding the new-api: experimental code for example the config-check fails.

[2020-10-12 11:47] ciotlosm commented on #446
Can you post your z2m config? Did you wait for 5 minutes?

[2020-10-12 11:55] Toinieboy commented on #446
data_path: /share/zigbee2mqtt
external_converters: []
devices: devices.yaml
groups: groups.yaml
homeassistant: true
permit_join: false
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://core-mosquitto'
  user: my_user
  password: my_password
serial:
  port: /dev/ttyACM0
advanced:
  log_level: info
  pan_id: 6754
  channel: 11
  network_key:
    - 1
    - 3
    - 5
    - 7
    - 9
    - 11
    - 13

[2020-10-12 12:22] ciotlosm commented on #446
Where do you see `8099 ssl:default [Connection refused]` ?

[2020-10-12 13:11] Toinieboy commented on #446
![2020-10-12 15_10_19-Window](https://user-images.githubusercontent.com/66773265/95750321-427fc280-0c9d-11eb-91fb-5d255f7623c1.png)

[2020-10-12 14:21] ciotlosm commented on #446
If you boot the add-on and go directly to the tab in the side bar, you will see this error. Can you get debug logs from the add-on?

[2020-10-12 14:24] Toinieboy commented on #446
}Debug information end
./run.sh: line 24: [Info] Configuration backup found in /share/zigbee2mqtt/.configuration.yaml.bk. Skipping config backup.: No such file or directory
[Info] Socat is DISABLED and not started
2020-10-12T16:23:34: PM2 log: Launching in no daemon mode
2020-10-12T16:23:35: PM2 log: App [npm:0] starting in -fork mode-
2020-10-12T16:23:35: PM2 log: App [npm:0] online

Zigbee2MQTT:

[2020-10-12 14:28] ciotlosm commented on #446
Your add-on is crashing, as your serial port setup is incorrect: "Error: Error while opening serialport 'Error: Error: Resource busy, cannot open /dev/ttyACM0'. Make sure you don't have any other add-on using the serial port and that the serial port is the correct one.

You can use the documentation to find out the serial port: https://github.com/danielwelch/hassio-zigbee2mqtt/blob/master/zigbee2m

[2020-10-12 14:30] Toinieboy commented on #446
I have deconz running that is look at a conbee II stick? Might that be the issue?

[2020-10-12 15:16] Aerallo commented on #446
I had this problem too and solved it by reinstalling zigbee2mqtt if it helps anything

[2020-10-12 15:18] Aerallo commented on #437
I solved it by reflashing my CC2531 stick, changing the zigbee channel and reinstalling zigbee2mqtt.

[2020-10-12 15:18] ciotlosm commented on #446
If you have deconz with conbee stick you should still use the documentation to find out the serial port, however you need an extra setting:

[code]

This is part of the documentation here: https://www.zigbee2mqtt.io/information/supported_adapters.html#conbee-ii

[2020-10-13 07:26] Gulivert commented on #437
Yes i did

[2020-10-13 07:55] ciotlosm commented on #437
@Gulivert the only other solution I can see is what @Aerallo is suggesting, a re-flashing for the coordinator.

[2020-10-13 10:23] ahonxxx commented on #437
@Gulivert I changed the ZigBee channel, channel: 14 everything is OK

[2020-10-13 10:45] aaamoeder opened #447 "new web UI does not load but stays in an infinte loading loop."
**zigbee2mqtt add-on version (if edge, please report commit hash):**

1.15

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Hassio running on proxmox (0.116.2)

**Description of problem:**

the new web UI does not load but stays in an infinte loading loop.

**Your entire configuration from the frontend (with sensitive fields redacted)**:
[code]

no men

[2020-10-13 11:00] ciotlosm commented on #447
Change
[code]
to
[code]

[2020-10-13 11:09] aaamoeder commented on #447
That did it !
Thank you ;-)

[2020-10-13 11:09] #447 closed

[2020-10-13 14:12] Gulivert commented on #437
I see that maybe is that the only solution. I tried to refrash it but didnt work, now the problem of change the channel is add it again all the device...

[2020-10-13 14:16] Gulivert commented on #437
In fact, after i change the channel, even caming back to the previous channel all the device are erased. I'm not sure if this is the normal behaviour.

[2020-10-13 14:26] ciotlosm commented on #437
Changing a channel requires reconnection of devices from previous channel. I'm not sure why changing it back doesn't work.

[2020-10-13 14:47] Toinieboy commented on #446
Okay, slowly getting there, still bad gate-way but also:

Zigbee2MQTT:error 2020-10-13 16:46:39: Error: Failed to connect to the adapter (Error: SRSP - SYS - ping after 6000ms)

[2020-10-13 15:26] ciotlosm commented on #446
Make sure you also have firmware updated with the proper one.

[2020-10-13 16:04] Toinieboy commented on #446
Conbee is in the latest firmware. System just fully rebooted and deconz is stopped. Still same error:(

Port is correct:
13 16:00 usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2213029-if00 -> ../../ttyACM0

[2020-10-13 16:11] ciotlosm commented on #446
Did you update the config with the `adapter` setting?

[2020-10-13 16:16] dinhchinh82 commented on #438
Great. Let me try the edge version then report you the result.

[2020-10-13 16:27] Toinieboy commented on #446
![afbeelding](https://user-images.githubusercontent.com/66773265/95888756-cb702a00-0d81-11eb-8932-a66d41bb878a.png)

[2020-10-13 16:50] ciotlosm commented on #438
@dinhchinh82 make sure you install the new repository. You can use the stable version there as well, as it has the bug corrected (1.15.0-3)

[2020-10-13 16:53] Toinieboy commented on #446
![afbeelding](https://user-images.githubusercontent.com/66773265/95891334-3cfda780-0d85-11eb-8292-8ae8528e41c0.png)

Still same error on the config. and still   Error: Failed to connect to the adapter (Error: SRSP - SYS - ping after 6000ms)

[2020-10-13 17:02] ciotlosm commented on #446
The config goes in your add-on config, not in your home assistant config.

[2020-10-13 17:09] Toinieboy commented on #446
Feels stupid.....

So now we're at:

Zigbee2MQTT:info  2020-10-13 19:08:06: Logging to console and directory: '/share/zigbee2mqtt/log/2020-10-13.19-08-05' filename: log.txt
Zigbee2MQTT:info  2020-10-13 19:08:06: Starting Zigbee2MQTT version 1.15.0-dev (commit #24188a3)
Zigbee2MQTT:info  2020-10-13 19:08:06: Starting zigbee-herdsman...
CREATED DECONZ ADAPTER
Zigbee2MQTT:error 2020-10-13 19:08:18: E

[2020-10-13 17:11] ciotlosm commented on #446
Can you add to the zigbee2mqtt add-on the option:
[code]

And send what you get ?

[2020-10-13 17:13] Toinieboy commented on #446
I think we did it! Thank you very very much!

![afbeelding](https://user-images.githubusercontent.com/66773265/95893410-31f84680-0d88-11eb-8698-d882abfe9b02.png)

[2020-10-13 17:15] #446 closed

[2020-10-15 16:30] DJJo14 opened #448 "expose fronted port"
in hassio-zigbee2mqtt 1.5.0 the new fronted is added, but no expose port is added.

home assistant version 0.114.4
hassio Operating System 4.12

My fronted does not load

[2020-10-15 18:06] ciotlosm commented on #448
The frontend uses ingress feature. Use the show in sidebar option.

The frontend starts in up to 5 minutes.

If you have a loading loop, make sure you have the "new_api" option set to true

[2020-10-16 07:52] McPaHa opened #449 "Error while starting zigbee2MQTT"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
HassOS 4.13

**Description of problem:**
This stopped working at last night without any changes. I flashed my CC2531 stick again without any help CC2531ZNP-with-SBL.hex

**Your entire configuration from the frontend (with sensitive field

[2020-10-16 11:56] dinhchinh82 commented on #438
Just confused which is the new repository? could you help me how to install the stable version?

Thank you.

[2020-10-16 12:38] ciotlosm commented on #438
The new repository is: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt

[2020-10-16 16:36] DJJo14 commented on #448
The new "new_api" was the trick

[2020-10-16 16:36] #448 closed

[2020-10-17 09:51] ciotlosm commented on #449
It seems your add-on is working now. But the error: `Error: Failed to connect to the adapter (Error: SRSP - SYS - ping after 6000ms)` is usually happening when z2m can't connect to the stick.

This is not really a problem of the add-on but of the z2m (issues go here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose)

To solve this you usually have a few action courses (that you can try in o

[2020-10-17 17:32] danirebollo opened #450 "Danalock V3-BTZBE"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
Rpi with Home Assistant connected through serial emulation to ESP8266+CC2530

**Description of problem:**
Danalock V3 BTZB is supported but not recognized in my installation ( https://www.zigbee2mqtt.io/devices/V3-BTZB.html ).
My

[2020-10-18 12:07] thomasgermain opened #451 "zigbee2mqtt group not reflected in HA"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

HassOS 4.13

**Description of problem:**
I created a group inside zigbee2mqtt (two bulbs that are actually in the same lamp). And I would expected the addon to reflect that group creation inside HA by creating a "fake" light enti

[2020-10-19 21:05] lazou commented on #437
I have the same sort of issue with my Home Assistant installation running in a VM using a ConBee II stick. I installed the MQTT Broker add-in and the zigbee2mqtt add-in. The integration of the mqtt broker within Home Assistant is successful, including an enabled discovery. In the logs of the mqtt broker I can see that zigbee2mqtt and Home Assitant are conected. Now I tried to add two xiaomi device

[2020-10-21 07:59] vlavrynovych commented on #451
+1, I do not know why, but when I've found groups on UI I expected to create groups and see them in HA

[2020-10-22 06:50] dinhchinh82 commented on #438
@ciotlosm I've tested your repo and it works. Can you  merge it to the official repo?
Thank you.

[2020-10-22 19:48] rcxrbt opened #452 "Aqara WSDCGQ11LM sensor stop updating"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
Zigbee2MQTT version:  1.12.2 >>>1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
Adapter hardware: CC2531
Adapter firmware version: 20190608
Platform: Zigbee2MQTT Hass.io add-on
host_os | HassOS 4.14
installation_type | Home Assistant OS
version | 0.116.4

Device: "Aqara tempera

[2020-10-22 20:57] lazou commented on #437
I solved my issue, it was independent from the reported one.

If someone is interested, here a short summary:
- mqtt broker allowed anonymous access - not recommended
- zigbee2mqtt config was invalid (`username` instead of `user`)
- zigbee2mqtt did connect and publish to the broker but anonymously, therefore the discovery of home assistant did not work

[2020-10-22 21:31] rcxrbt commented on #452
I don't know why, but the URL for the repository was missing, so the ZB2MQTT hadn't updated.
Added URL, updated to 1.15.0, disassociated and re-associated sensors, now it seems to work!
I will update next days.

[2020-10-23 04:29] #452 closed

[2020-10-23 20:49] solevi commented on #438
Hello,
I just added this new version of `1.15.0-3` from new repo `https://github.com/zigbee2mqtt/hassio-zigbee2mqtt`
and having problems with it.
Here is the log of module:
[code]
And here is my configuration:
[code]
Can someone please help?

P.S. Same happens with edge version...

[2020-10-26 13:46] gald33 opened #453 "bad gateway"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.15.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**
"Error 502: bad gateway" when I go to the addon (relative url: /7ad98f9c_zigbee2mqtt)

**more info:**

I used the same zigbee usb stick successfully with zigbee2mqtt (not the HA addon) a few days ago o

[2020-10-26 14:18] ovizii commented on #453
I also had the same problem but it "magically" solved itself. I think it just takes really long for the addon to start and get ready as I didn't change anything, just checked again a few hours later.

Maybe have a look if this thread helps? https://github.com/danielwelch/hassio-zigbee2mqtt/issues/446

[2020-10-26 17:17] igiul667 opened #454 "dev/ttyACM0 not found and other errors"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
[code]

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Supervised install on an intel nuc running Ubuntu

**Description of problem:**
When starting the addon reutrns some errors. If I try to restart it the error changes and becomes "dev/ttyACM0 not found. However if i unplug the CC s

[2020-10-26 18:23] igiul667 commented on #453
Did the ui ever work? It used to on my installation but then started giving this type of error. To fix it I reinstalled the addon

[2020-10-27 01:45] ASNNetworks commented on #451
You need to read the docs, it's all explained and pretty straight forward: https://www.zigbee2mqtt.io/integration/home_assistant.html

This is about groups:: https://www.zigbee2mqtt.io/integration/home_assistant.html#groups

_Groups are not auto-discovered. With the configuration below, grouped devices in Zigbee2MQTT will be exposed as a single device in Home Assistant. The following example will

[2020-10-27 05:16] thomasgermain commented on #451
This is exactly why my request is here, you stated the doc of zigbee2mqtt, not the of the hassio addon.

You should have read that: `NOTE 2: If you are using the Zigbee2MQTT Hass.io add-on use their documentation`. For me it means: if you are using the Zigbee2MQTT Hass.io add-on, stop reading here and go the the addon doc.

And I didn't say it was not working. I created the mqtt manually and it's

[2020-10-27 06:42] gald33 commented on #453
thanks @ovizii and @igiul667 , I've reinstalled the addon and waited for 20hrs, still getting the same error. After reading the thread you attached I wonder, do I need to install zigbee2mqtt beside zigbee2mqtt-addon?

[2020-10-27 06:45] igiul667 commented on #453
@gald33 I don't know how to help you then, I'm sorry. However I'm pretty much certain that you don't have to install zigbe2mqtt AND the addon, you need just one of the two.

[2020-10-27 06:48] gald33 commented on #453
thanks. maybe it's something in the configuration. I'll post if I find it.

[2020-10-27 09:16] mrIngrid opened #455 "Permit Join don't start."
**zigbee2mqtt add-on version (if edge, please report commit hash):**
Zigbee2mqtt Bridge 1.15.0
**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Raspberry Pi4 4GB
Home Assistant Supervised 116.4
HassOS 5.4 Developement boot on SSD
GeekWorm x857 mSata adapter.
CC2530+CC2592 & USB TO TTL CH340C.

**Description of problem:**
Permit Join start correctly with

[2020-10-27 09:27] agners commented on #455
The driver for CH340C seems to use `/dev/ttyUSBX` as device names. It seems that the add-on is specifying `ttyACM0` only?

https://github.com/danielwelch/hassio-zigbee2mqtt/blob/master/zigbee2mqtt/config.json#L43

[2020-10-29 20:45] ovizii commented on #81
I know this is a very old thread but would you mind stating all your steps?

I run hassio with the zigbee2mqtt bridge addon, have configured it, no errors in the logs, it sees and uses my zigbee stick, it connects to my mqtt server but all my tries to pair  the xiaomi mijia human body sensor, pressing > 5secs or pressing once multiple times do not yield in any log entries :-(
I have no other zigbe

[2020-10-31 10:29] Fridolin34 opened #457 "Unable to add a new device - Philips Hue P45"
Hello everybody,

Yesterday my new Phillips Hue bulbs P45 arrived and I tried to connect those lights to my Home Assistant system, but failed.

My system: CC2531 plugged in a Synology, HassIO Docker container and Mosquitto broker and Zigbee2mqtt as installed addons (docker containers as well). Connected are just a couple of Aqara sensors and displaying temperature or humidity readings are just fin

[2020-10-31 11:30] Fridolin34 commented on #457
Not sure, whether I'm on the right track or not, but I've added a new file 'devices.js' into '\home-assistant\hass.io\share\zigbee2mqtt'

    {
        zigbeeModel: ['LWU001'],
        model: '9290024406',
        vendor: 'Philips',
        description: 'Philips Hue P45 Light Bulb',
        extend: hue.light_onoff_brightness,
	ota: ota.zigbeeOTA,
    },

info  2020-10-31 12:17:45: 0x001788010940bf

[2020-10-31 13:06] Fridolin34 commented on #457
Hmm... did a couple of other steps.
First I went to https://github.com/danielwelch/hassio-zigbee2mqtt#adding-support-for-new-devices and followed the instructions to obtain an original devices.js file. I've added a similar block from above and now the device is somehow listed correctly after restarting the addon:
info  2020-10-31 13:34:10: 0x001788010940bf8d (0x001788010940bf8d): 9290024406 - Phil

[2020-10-31 23:02] KixMan28 commented on #437
I had the same issue. I changed the channel to 14 and I reconnected everything. I think there is a bug in the integration, it would be nice if would be corrected. I needed to reconnect only 7 devices but those who have couple of dozens, they are in trouble.

[2020-11-01 09:17] JonOve commented on #457
I have exactly the same issue you have, but with the Hue 9290022944.
Made the same steps as you described, but unfortunately without result. I have asked KoenK to add it to the official devices.js file. Now I just wait for the new release and trust the device becomes available.

[2020-11-01 09:51] ciotlosm commented on #437
I recommend opening issues here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose
This issue tracker is only for the add-on and it's functionality. The add-on just wraps `zigbee2mqtt` so most of the inner workings, including the firmware for the USB stick can't be handled here.

I will close this issue as people were able to restore pairing, but make sure you raise issues on the other repo

[2020-11-01 09:51] #437 closed

[2020-11-01 09:53] JonOve commented on #457
BTW. In the edge version the device added by KoenK works fine.

[2020-11-01 09:55] ciotlosm commented on #438
@solevi it is recommended you move away from using `devices.js` workaround and migrate to use https://github.com/zigbee2mqtt/hassio-zigbee2mqtt/blob/dev/zigbee2mqtt/DOCS.md#using-external_converters

@dinhchinh82 I will merge it at some point. Have to figure out how to merge functionality without breaking CI pipelines.

I will close this issue for now. @solevi feel free to open a new issue for the

[2020-11-01 09:55] #438 closed

[2020-11-01 09:56] ciotlosm commented on #450
@danirebollo I recommend you open an issue here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose
You can also try and patch it yourself by using https://github.com/zigbee2mqtt/hassio-zigbee2mqtt/blob/dev/zigbee2mqtt/DOCS.md#using-external_converters however that is only fixed in this repo: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt for now.

[2020-11-01 09:56] #450 closed

[2020-11-01 10:04] ciotlosm commented on #451
@thomasgermain I will try to clarify a bit the expectations here:

`zigbee2mqtt add-on` is only packaging `zigbee2mqtt` for easier usage within Home Assistant by making it an add-on that can be managed by their Supervisor.

Any functionality like discovery integration (which is usually done through mqtt) is core functionality within `zigbee2mqtt` code and the add-on little to do with how things ar

[2020-11-01 10:11] ciotlosm commented on #453
@gald33 You have multiple errors there:

`Error: Failed to connect to the adapter (Error: SRSP - SYS - ping after 6000ms)` is your main problem. This means that zigbee2mqtt can't talk to your stick. Make sure that you use the correct serial port:

You currently have
[code]

You might need to modify that and use the "named" serial port. You can view this based on the docs here: https://github.com/d

[2020-11-01 10:14] ciotlosm commented on #455
@agners the config.json you linked, is just the default. You can specify whichever serial port you need. See Notes [here](https://github.com/danielwelch/hassio-zigbee2mqtt/blob/master/zigbee2mqtt/DOCS.md#notes) on how to identify the correct serial port.

@mrIngrid How do you enable permit_join? Can you post some logs from the add-on?

[2020-11-01 10:19] ciotlosm commented on #81
@ovizii try opening a new thread if you can't get it to work.

Some things to keep in mind:
- Make sure your devices has a good battery
- Make sure z2m is in pairing mode
- Make sure you have mqtt installed and auto discovery enabled
- Make sure your devices is close to either the coordinator or to a router (if you have active router devices in your mesh)
- Make sure your usb stick (coordinator) h

[2020-11-01 10:23] ciotlosm commented on #457
@Fridolin34 You were on the right track, however it's best to raise device requests here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose

The add-on just tries to provide some functionality to allow testing if you want to help with device support.

I will close this as it's been fixed in `edge` by KoenK.

[2020-11-01 10:23] #457 closed

[2020-11-01 10:27] ciotlosm commented on #449
@McPaHa Can you confirm if your add-on is working now?

[2020-11-01 11:12] Fridolin34 commented on #457
Hi you both,

and thanks for answering.

Basically I would appreciate to understand, how it works. I mean, contributing seems more appealing than just consuming. So I thought I could first use the devices.js in the 'share' folder and once everything is running, just hand it over to be officially integrated into the new version.

So, is there any hint, what I could have done to get a proper integra

[2020-11-01 11:29] Fridolin34 commented on #457
I've just stopped the normal version of zigbee2mqtt and installed the edge-version. After starting, I still get the same log messages:

warn  2020-11-01 12:25:27: Received message from unsupported device with Zigbee model 'LWU001'
warn  2020-11-01 12:25:27: Please see: https://www.zigbee2mqtt.io/how_tos/how_to_support_new_devices.html.
debug 2020-11-01 12:25:37: Received Zigbee message from '0x001

[2020-11-01 12:42] ciotlosm commented on #457
@Fridolin34 using devices.js is not really the recommended approach to add new devices. This was updated with the better `external_converters` method. Unfortunately the add-on in this repo has a bug on that. You can test that method using https://github.com/zigbee2mqtt/hassio-zigbee2mqtt

The add-on however only provides the platform to start the process, the more in depth steps are probably detai

[2020-11-01 14:38] McPaHa commented on #449
Oh sorry... It's working now

su 1. marrask. 2020 klo 12.27 Marius <notifications@github.com> kirjoitti:

[2020-11-01 15:23] thomasgermain commented on #451
Well yeah, you're right. Actually I'm expecting too much from the addon, but it doesn't mean the addon is not doing what is supposed to do.

The solution (to have the group entity created in HA) could be to have a zigbee2mqtt `integration`, but then it sounds weird (and out of scope here) to have this integration doing "something" so some entities can be discovered by mqtt.

[2020-11-01 15:23] #451 closed

[2020-11-01 17:55] ciotlosm commented on #451
Maybe no `integration` is required, as long as there is enough functionality in the mqtt auto discovery to support this.

[2020-11-01 17:56] #449 closed

[2020-11-02 14:20] agners commented on #455
@ciotlosm ah I see, that is what I end up configuring in the Configuration tab. Just checked again on my RPi4 using a zzh! CC2652R Multiprotocol RF Stick. The host OS seems to detect the USB device correctly:

[code]

And I can join a Zigbee device successfully, so there seems to be no general problem with the OS.

@mrIngrid is the log really empty? E.g. in the Zigbee2mqtt Add-On, in the Log tab,

[2020-11-02 14:40] ciotlosm commented on #455
@agners I found out that RPI4 has pretty big interference with the zzh! and I had to add the USB extension cord and move the stick further away from the unit to have it work consistently.

[2020-11-02 15:51] dinhchinh82 commented on #438
@ciotlosm have you merged this PR to the official 1.16 release yet?
Thank you.

[2020-11-02 16:08] ciotlosm commented on #438
Not yet, otherwise I would have reflected it in the changelog, but both repos now got the z2m bumped to 1.16.0.
In the long run https://github.com/zigbee2mqtt/hassio-zigbee2mqtt will become the official repo (also in docs) as it has faster pipelines and a much more stable workflow using `dev` branch for PRs and `master` only when builds are complete and version is stable.

[2020-11-02 16:53] solevi commented on #438
Hi, Thanks for answering.
My main problem is exactly this `Cannot find module 'zigbee-herdsman-converters'` error. This is the reason why I found this thread.
The module i wanted to use have `zigbee-herdsman-converters` as dependency.
When i am adding this module, the plugin is crushing.
here is my config:
[code]
And here is the log:
[code]

Contents of the DIYRuZ_AirSense.js can be found [here](h

[2020-11-02 19:20] ciotlosm commented on #438
@solevi did you try the add-on from this repo: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt ? There is still a bug (until I merge it here as well) with the version here.

[2020-11-02 19:41] solevi commented on #438
@ciotlosm Really sorry for noise, for some reason i thought that i installed add-on from that repo...
Now everything is as expected, thank you very much!

[2020-11-03 01:20] Teie commented on #137
Does anyone know if Zigbee2MQTT now works on HAssio64Bits?

[2020-11-03 05:51] ciotlosm commented on #137
@Teie

I'm using zigbee2mqtt on a raspberry pi 4 with boot from USB/m.2 ssd with zzh!:

arch | aarch64
-- | --
chassis | embedded
dev | false
docker | true
docker_version | 19.03.12
hassio | true
host_os | HassOS 5.4
installation_type | Home Assistant OS
os_name | Linux
os_version | 4.19.127-v8
python_version | 3.8.6
supervisor | 2020.10.1
timezone | Europe/Bucharest
version | 0.117.1
virtualenv |

[2020-11-03 06:07] ciotlosm commented on #454
@igiul667 I'd recommend you try and use the named serial port: ` Supervisor → System → Host system → ⋮ → Hardware`. It should look something like: ` /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0`

Also try using the add-on from: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt as it has a few startup improvements (to test things out).

[2020-11-03 06:34] igiul667 commented on #454
Thanks for the reply, I'll try what you're telling me soon

[2020-11-03 07:28] igiul667 commented on #454
Using the release version of zigbee2mqtt everything seems to start correctly however I'm unable to send commands to the zigbee devices. Using the edge version addon it also starts no problem, but as soon as i try pressing a button on a zigbee remote the addon crashes with error:
Zigbee2MQTT:error 2020-11-03 08:26:47: Adapter disconnected, stopping
Zigbee2MQTT:info  2020-11-03 08:26:47: MQTT publis

[2020-11-03 07:45] ciotlosm commented on #454
Might be that you need to do so. From the looks of it you either have:
- adapter problem
- virtualization problem - if you have some sort of passthrough for the serial adapters
- driver problems ? unsure how your intel nuc setup is on this part

[2020-11-03 07:53] igiul667 commented on #454
I think I'll have to reflash the adapter, since it was working, but after a reboot it stopped, so I wouldn't think the issue is with the host. I'll let you know how that goes

[2020-11-03 09:52] harvybob opened #459 "Electrolama zig-a-zig-ah on HASS.IO Bad Gateway"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.16.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**
When i try to go to the zigbee2mqtt web page i get 502 bad gateway error.
I can add the zig-a-zig-ah as a Zigbee Home Automation and get the following path:
/dev/ttyUSB0 - USB Serial, s/n: n/a

I've tr

[2020-11-03 10:08] ciotlosm commented on #459
You need to use the configuration in your add-on (Supervisor > Dashboard > Zigbee2mqtt > Configuration)

[2020-11-03 10:12] harvybob commented on #459
Ok - so in my configuration.yaml i put in this:

[code]

and tried to restart and got this:

[code]

[2020-11-03 10:13] harvybob commented on #459
Does all of that need to be in its own .yaml file and then imported in?

[2020-11-03 10:34] harvybob commented on #459
![image](https://user-images.githubusercontent.com/17744328/97974857-1f3dc400-1dc0-11eb-9e81-13fe90bc8ced.png)

I have no option to configure. If i click on the webui i get a 502 error.

[2020-11-03 10:41] ciotlosm commented on #459
You should not use `configuration.yaml` at all. In your screenshot you should look higher up in the tabs, where you have Documentation & Configuration.

[2020-11-03 11:04] harvybob commented on #459
Great that fixed things! - missed the obvious!

I can see it in my Mosquito!

Now i just need to wait for my first Zigbee device to arrive!

[2020-11-03 11:43] harvybob commented on #459
Getting this error in the log:

[code]

Config file is set with:

[code]

[2020-11-03 11:49] ciotlosm commented on #459
Your device is wrong `/dev/ttyUSB0`. Please use docs to identify your correct device (maybe used the named serial device).

From docs:
To find out which serial ports you have exposed go to `Supervisor → System → Host system → ⋮ → Hardware`

[2020-11-03 12:06] harvybob commented on #459
![image](https://user-images.githubusercontent.com/17744328/97982971-76499600-1dcc-11eb-9846-0a00951056b4.png)

Even if i go to add via - configuration -> integration -> + -> Zigbee Home Assistant it finds ttyUSB0.

After a couple of restarts, log is showing this:

[code]

[2020-11-03 12:22] ciotlosm commented on #459
In your zigbee2mqtt add-on Configuration change from:

[code]

to

[code]

[2020-11-03 12:24] harvybob commented on #459
I've done that, get the same - few failed attempts then it works (i think!)

[2020-11-03 19:45] haemishkyd opened #460 "Zigbee2mqtt Cannot Connect to MQTT server"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.16.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
HassOS 4.15
Home Assistant 0.117.2
Mosquitto broker 5.1

**Description of problem:**
I upgraded to 1.16.0 earlier and suddenly my system cannot connect to the MQTT broker. It now continues to give me.
Zigbee2MQTT:error 2020-11-03

[2020-11-03 21:33] ciotlosm commented on #460
You can try using https://github.com/zigbee2mqtt/hassio-zigbee2mqtt as repo and install the add-on from there and just keep:

[code]

And allow the add-on to auto-discover mqtt. See if that works.

[2020-11-04 06:21] rosaces commented on #460
I've got the same issue, since the update. Do I really need to reinstall the whole thing?

[2020-11-04 08:01] ciotlosm commented on #460
Rollback to 1.15.0 is not easy. You would need to fork the repo and update some versions, but "reinstall" is not really that costly. As long as you backup your config, rest of settings should be on the storage in zigbee2mqtt folder and should work.

I really recommended to try https://github.com/zigbee2mqtt/hassio-zigbee2mqtt and install 1.16.0 from there because it contains mqtt auto discovery wi

[2020-11-04 09:10] jackwilsdon commented on #460
I did some digging on this, and a temporary fix seems to be to enable authentication on the MQTT server (you can leave anonymous enabled too) and to use a username/password on zigbee2mqtt.

It turns out that this is a bug introduced in the new version of MQTT.js which zigbee2mqtt updated to in 1.16.0, and it only exhibits itself when connecting to the Mosquitto Home Assistant Add-on (something to

[2020-11-04 11:51] igiul667 commented on #454
Fixed everything by reflashing the coordinator. I've had some prolems binding new items but I managed to do it.

[2020-11-04 11:51] #454 closed

[2020-11-04 15:59] haemishkyd commented on #460
Thanks for your feedback guys.
@jackwilsdon I have tried to enabling authentication on mosquitto and putting those credentials into zigbee2mqtt. This did not change anything. There was still no connection to the MQTT server. I am not sure if I did that correctly or not. In Mosquitto config I added a username/password to the logins section and put those same credentials into zigbee2mqtt. I assume t

[2020-11-04 17:55] ciotlosm commented on #460
@haemishkyd if you see the logs for mqtt, it means stuff is working. Are you sure you are looking at the right topic with MQTT explorer?

[2020-11-04 21:00] UnderpantsGnome commented on #460
@ciotlosm I'm seeing the same behavior.

Log output from Supervisor -> z2m -> Log

[code]

In another tab running `mosquitto_sub -h 10.0.0.34 -v -t "#"` in the Terminal shows no output.

[2020-11-04 21:37] bigboban commented on #460
#metoo
Fixed by downgrade to version 15.

[2020-11-04 21:39] UnderpantsGnome commented on #460
@bigboban what steps did you have to take to downgrade though the add ons?

[2020-11-04 23:22] ciotlosm commented on #460
Tagging @Koenkk as this might be related to libraries in zigbee2mqtt

[2020-11-05 01:12] jackwilsdon commented on #460
If it helps at all, I bisected this down to https://github.com/Koenkk/zigbee2mqtt/pull/4830 in the end (mqtt 4.2.2 introduced the issue).

[2020-11-05 07:13] bigboban commented on #460
@UnderpantsGnome Downgraded using selective restore from snapshot - only this plugin.

[2020-11-05 11:37] Koenkk commented on #460
@jackwilsdon big thanks for your investigation here, can this be fixed by downgrading mqtt 4.2.1? If yes I will push an update today which will be available in the edge version.

[2020-11-05 12:24] jackwilsdon commented on #460
Downgrading to 4.2.1 with `npm install --save mqtt@4.2.1` on the `dev` branch seems to fix it for me :tada:

[code]

[2020-11-05 16:50] lenny1972 opened #461 "Pairing and re-pairing issue with Xiaomi devices"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.16.0

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**
paring 20 devices (xiaomi sensors) I cannot pair additional devices. Even deleting a paired device I cannot pair new devices,. The devices I'm not able to pair are Aquara Water Leak sensors even if I'v

[2020-11-05 17:04] Koenkk commented on #460
@jackwilsdon great, I've released a new Zigbee2MQTT version: 1.16.1 @ciotlosm can you trigger a new release?

[2020-11-05 17:26] rickkdotnet commented on #460
I can confirm that 1.16.1 fixes the issue for me, thanks!

[2020-11-05 17:58] ciotlosm commented on #460
@Koenkk new build is finished and published.

@Koenkk off topic: How can I get edge pipeline to trigger on the new repo in sync with your dev branch? Are you running them yourself at the moment?

https://github.com/zigbee2mqtt/hassio-zigbee2mqtt
https://dev.azure.com/zigbee2mqtt/Zigbee2mqtt%20Add-on/_build?definitionId=9
https://github.com/zigbee2mqtt/hassio-zigbee2mqtt/blob/dev/pipeline/edge-buil

[2020-11-05 18:05] ciotlosm commented on #461
Try adding a USB extension cord to move the usb stick away from your RPI. Also would be nice to see some information around the adapter if it has the right version.

Typically your issue is more for the zigbee2mqtt repo as the add-on just wraps around that (https://github.com/Koenkk/zigbee2mqtt/issues/new/choose)

[2020-11-05 18:24] UnderpantsGnome commented on #460
1.16.1 resolves the auth issue, but I still don't get data published to the MQTT broker, I can see things updating on the z2m frontend. 🤷‍♂️

[2020-11-05 18:47] lenny1972 commented on #461
Marius thanks for the prompt reply. The USB CC2351 dongle is already connected to the RPi via a USB male-female cable. The firmware running on the adapter is the CC2531_DEFAULT_20190608.zip available on Github (https://github.com/Koenkk/Z-Stack-firmware/tree/master/coordinator/Z-Stack_Home_1.2/bin/default). If this info will not give you any clue in order to solve the issue I'll open an issue on t

[2020-11-05 18:51] Koenkk commented on #460
@ciotlosm it's triggered here: https://github.com/Koenkk/zigbee2mqtt/blob/6b32f30654831cd94fc55fa813f8674d6ef09124/.github/workflows/ci.yml#L79

[2020-11-05 19:02] ciotlosm commented on #460
Can you add one for https://dev.azure.com/zigbee2mqtt/Zigbee2mqtt%20Add-on/_build?definitionId=9 as well please?

[2020-11-05 19:07] jackwilsdon commented on #460
@UnderpantsGnome do you have any ACLs configured? Try connecting to the MQTT sever with another client using the credentials you're using with zigbee2mqtt and see if messages published by that client can be seen by others.

[2020-11-05 19:12] UnderpantsGnome commented on #460
@jackwilsdon no ACL setup, anonymous logins, I can publish fine from MQTT.fx, nothing else has changed other than the upgrade to 1.16 yesterday.

z2m config.
[code]

broker config
[code]

[2020-11-05 19:14] jackwilsdon commented on #460
We might be best taking this to the [zigbee2mqtt discourse](https://zigbee2mqtt.discourse.group/) - it's a bit easier to discuss it there.

[2020-11-05 19:29] ciotlosm commented on #460
I'll close the item as the auth is fixed.

[2020-11-05 21:07] ciotlosm commented on #461
@lenny1972 Can you try running the source routing firmware?

[2020-11-06 10:26] lenny1972 commented on #461
I've already the source routing firmware installed on my CC2351 dongle. Anyway I found the reason of sensors unable to pair. Reading this article [()]https://community.hubitat.com/t/xiaomi-aqara-devices-pairing-keeping-them-connected/623/55?u=veeceeoh)] I found that my fritzbox router (broadcasting the wifi signal on both 2.4 Ghz and 5 Ghz) probably caused interference to the CC2351 dongle zigbee

[2020-11-06 14:28] ovizii commented on #81
@ciotlosm thanks for all the good tips. I tried and am still failing so I bought and borrowed a couple of different brands zigbee devices compatible with z2m and am still failing with all of them so now it is time to debug my new slaesh zigbee stick which I am using as a controller.

[2020-11-06 14:35] ovizii commented on #81
@ciotlosm SOLVED. I can't believe it has taken me a week and borrowing and buying multiple zigbee devices to figure it out. This was the solution that worked:

**Make sure your usb stick (coordinator) has no interference - usually adding an USB extension cord is a good idea**

there wasn't really anything close to the stick but plugging it into a 0.7m USB extension cord solved everything.

[2020-11-06 21:14] kevincaradant commented on #460
Hi

I just upgraded it via docker on 1.16.1 Zigbee2MQTT and after that all my devices goes unvailable on HA :(

I didn't understand if it's an issue about zigbee2mqtt or HA addon MQTT ? I'm using Home Assistant with Docker and Zigbee2MQTT with Docker.

@UnderpantsGnome Do you have created an issue for this ? Somewhere ? I'm a little bit confused about this issue.

I force for the moment the v1.15.

[2020-11-06 22:30] UnderpantsGnome commented on #460
@kevincaradant I completely removed the addon, and the repo for it, then added them back in (to be sure I was using the correct repo) and things started working again.

[2020-11-06 23:34] kevincaradant commented on #460
I tried twice your solution but that doesn't seems works well :/
When you said repo, what do you mean, because I was just in "integration" section. I searched "MQTT" plugin and it was already in it.

![image](https://user-images.githubusercontent.com/6093175/98423870-4e8a5480-2090-11eb-8430-d6ff7c1b6f34.png)

Indisponible = unavailable

So something wrong

I got this error for each device connecte

[2020-11-07 06:14] ciotlosm commented on #460
For those that are still having problems getting their device data, I was able to reproduce one of the scenarios.

The steps to reproduce would be:
- Upgrade zigbee2mqtt
- Upgrade home assistant after

The issue is that when upgrading zigbee2mqtt, on restart it will send "offline" state for all devices when shutting down. This is sent with a retain flag.

When home assistant starts, it will see th

[2020-11-07 06:15] #460 closed

[2020-11-07 21:50] kevincaradant commented on #460
Thanks you @ciotlosm

I was not using the latest version of Home Assistant because I got some issues with it until the last month but I retried today to update HA and everything works as expected 👍

Then I upgraded Zigbee2MQTT in 1.16.1 and I restarted it.

HA is still working as expected

[2020-11-08 19:18] fmarczin opened #463 "After upgrading to version 1.16.0, the Web UI/Frontend does not open anymore"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.16.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):** HassOS 5.3, Supervisor 2020.11.0

**Description of problem:**
After upgrading to version 1.16.0, the Web UI/Frontend does not open anymore.

**Your entire configuration from the frontend (with sensitive fields redacted)**:
[code]

[2020-11-09 17:03] haemishkyd commented on #460
Hi,

I have followed all the advice given here (I think) and still nothing will publish to the MQTT broker.
I am now on
Zigbee2MQTT :1.16.1
Mosquitto broker: 5.1
HassOS : 4.15
Home Assistant :0.117.5
- I have confirmed that from another client I can publish through the broker.
- I have unistalled the add on - removed the repository and added it again and then re-installed the add-on
- I have tried

[2020-11-09 17:15] KixMan28 opened #464 "Devices become unavailable, only add-on restart helps"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.16.1
**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**
Yesterday my devices became unavailable for 3 hours, then they came back without doing anything special. Today again they became unavailable at around 10:30 and since them they are stil in that state. B

[2020-11-09 17:31] jackwilsdon commented on #460
What's in your mosquitto customize folder? (I notice you have it enabled) Are there any ACLs in there?

[2020-11-09 18:40] ciotlosm commented on #460
@haemishkyd I'd recommend you try the version with auto-discovery and allow it to fetch the users for you (https://github.com/zigbee2mqtt/hassio-zigbee2mqtt) and see how that works. Also please post logs when opening an issue.

[2020-11-09 18:42] ciotlosm commented on #464
Your mqtt probably restarted, and z2m didnt' republish online status. Might need to check if you can get better results with availability settings on z2m in advanced settings.

[2020-11-09 19:09] KixMan28 commented on #464
What and where should I change to do thsi?

[2020-11-09 19:10] ciotlosm commented on #464
Try the below:

https://www.zigbee2mqtt.io/information/availability.html

[code]

[2020-11-09 19:12] haemishkyd commented on #460
Hello,

Thanks for your responses.
![image](https://user-images.githubusercontent.com/3243585/98585539-1ffabc80-22d0-11eb-816d-9fb028ef22a0.png)

@ciotlosm I am using the version with auto-discovery. My apologies. I should have added logs. Please see the logs after a restart:
[code]
You will see at the end of the log I pushed a button. This publication is not seen on any MQTT sniffer. I am using t

[2020-11-09 19:23] ciotlosm commented on #463
Frontend loads fine for me in Safari & Chrome. There does seem to be a problem with apps that cache frontend resources, so in your IOS apps go to: App Configuration > (Settings) Scroll to bottom > Reset frontend cache. This should restore your frontend.

[2020-11-09 19:59] chrkoe commented on #463
That worked for me in the iOS app. Thanks!

[2020-11-09 21:35] sybux2000 opened #465 "ZigBee command not working anymore"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Hassio under docker in version 0.117.5
ZigBee2Mqtt inside Hassio in version 1.16.1
Mosquitto MqttBroker of hassio version 5.1

**Description of problem:**
since I think update to release 1.16, all my zigbee device are not working anymor

[2020-11-09 23:27] ciotlosm commented on #465
I think you need to open an item here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose

[2020-11-09 23:27] ciotlosm commented on #463
@fmarczin can you test as well and let me know if the item can be closed?

[2020-11-09 23:28] ciotlosm commented on #459
@harvybob all working now?

[2020-11-09 23:48] #465 closed

[2020-11-09 23:48] sybux2000 commented on #465
wrong channel for problem reporting

[2020-11-10 08:43] harvybob commented on #459
HI, Yep, i got a zigbee thermometer yesterday, paired and working fine! thanks for your assistance!

[2020-11-10 08:44] #459 closed

[2020-11-10 10:13] jackwilsdon commented on #460
`topic readwrite #` only allows read and write for the anonymous user. To enable read and write for other users, you need to add the following to the end of your config (after your existing `topic readwrite #`).

[code]

Reference for acl file contents: https://mosquitto.org/man/mosquitto-conf-5.html#idm45473494697792

[2020-11-10 13:24] haemishkyd commented on #460
Thanks for the advice I will try that.
Does that means that zigbee2mqtt does NOT work with anonymous users? I have noticed that if the user is not set the config file seems to default to the "addon" user in home assistant.
Would I be able to just add the "addon" user to my acl file?

[2020-11-10 14:10] jackwilsdon commented on #460
There was an issue in zigbee2mqtt 1.16.0 where anonymous users no longer worked. This has been fixed in 1.16.1. I'm not sure how the addon user works, as I've not used the autodiscovery version of the addon. You should be able to add whatever the addon user's name is to your acl file as I listed above though.

[2020-11-10 18:58] haemishkyd commented on #460
Thanks for the advice. It seems to have been an issue with the ACLs as suggested.

[2020-11-10 20:56] KixMan28 commented on #464
Thank you. I have added  to my zigbee2mqtt configuration.yaml

advanced:
  availability_timeout: 300

I hope this will help.

[2020-11-11 06:11] waako commented on #464
I've been getting same issue, thanks for tip, hopefully solves it.

[2020-11-11 20:03] fmarczin commented on #463
I did that in the iOS app, but no effect. The issue also exists in Safari on iOS and macOS.

[2020-11-12 05:10] ciotlosm commented on #463
@fmarczin In safari try the following:
Go to `Safari > Prefrences > Advanced > Show Develop menu in menu bar`
After this go to `Develop > Empty Caches`

If the above still does not fix it, go to: `Develop > Show JavaScript Console`
In the new Console that appeared type: `localStorage.clear()`

[2020-11-12 09:24] fmarczin commented on #463
`Empty Caches` did it! (The iOS app now works as well, maybe I didn't give it enough time on the first try, or it needed a restart or something).

Thank you @ciotlosm ! 👍

[2020-11-12 09:24] #463 closed

[2020-11-13 04:13] baldfox commented on #464
I too have also started to receive the unavailable issue... it happened to me after I upgraded to 1.16.0 onwards. Will try availability 300 also.

[2020-11-13 04:48] waako commented on #464
Unfortunately happened again for me, even after setting availability timeout to 300

[2020-11-13 05:34] baldfox commented on #464
I've just noticed that I have mqtt broker set up in intergrations as well as in yaml. I'm not sure if that could be causing issues now, so have #'d out the .yaml entry to see if that helps things to play better. I've noticed mqtt seems to be causing me a few problems of late, so am trying to narrow things down a bit.

[2020-11-13 10:36] jamesahendry opened #466 "Gateway 502 when adding devices.js"
Hi Guys,

I keep getting a gateway 502 error as soon as I add the devices.js into the data folder.  I have followed the instuctions to the letter over multiple versions of Zigbee2mqtt.

- alway ensure I read the package.json to make sure I am deploying the right device.js appropraite to zigbee2mqtt verson
- download the raw version that's appropriate
- add zigbee_shepherd_devices: true to the conf

[2020-11-13 15:57] sunseaandpalms opened #467 "Aqara devices seen but not supported (Failed to interview)"
Hello,

I am starting with Home Assistant and Aqara Home. I set up `Home Assistant + hassio-zigbee2mqtt + Aqara Motion sensor`. Sensor appears in list, but says `Unsupported`. Log says: "Failed to interview '0x00158d0001e51295', device has not successfully been paired".

## Setup

* RaspberryPi 3 B
* HassOs (4.16)
* ConBee I (plugged into Pi's USB port)
* HassOs -> Hardware options:
[code]
* Mosqu

[2020-11-14 05:55] eromanenko opened #468 "Moes TRV ZigBee3.0: addon creates incorrect sensors"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.16.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
Home Assistant Supervised, docker, Ubuntu 18.04.5 LTS, x86_64

**Description of problem:**
After receiving from MQTT
[code]
addon creates
- binary_sensor.radiator_kitchen_update_available
- climate.radiator_kitchen_climate
- lock.

[2020-11-16 10:14] baldfox commented on #464
Am afraid i'm still having issues. It needs restarting less, but it does in deed time out and go unavailable, Happening several times a day now. Anyone managed to find the fix? A simple restart of z2m brings it back on, but it's clearly annoying.

[2020-11-16 13:30] worker72 opened #469 "Not all device data is exposed in HA"
In the GUI (frontend?) of zigbee2mqtt, the STATE tab shows a variable called pi_heating_demand (and more) which is not shown in HA environment. (see 2 screenshots)

How can I access such hidden variables?

![image](https://user-images.githubusercontent.com/1201336/99257944-1d402000-2818-11eb-9f77-8a8ecb9ed513.png)
![image](https://user-images.githubusercontent.com/1201336/99258024-3a74ee80-2818-11

[2020-11-17 10:25] lovelylain commented on #469
add below configuration to `configuration.yaml`
[code]

[2020-11-17 12:54] thibmaek opened #470 "Frontend UI (via Ingress) never loads any data"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

1.16.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

- Debian 10, Supervised, latest stable HA, Docker, Texas Instruments Zigbee USB coordinator
- Safari latest stable, Chrome latest stable

**Description of problem:**

Using HA Ingress, the frontend is loaded but never displays a

[2020-11-18 01:01] thoj commented on #464
I'm having the same issue from 1.16+. I have the mosquito broker installed. If I check the zigbee2mqtt log after everything becomes unavailable I still Se data activity from sensors. But no updates in ha. I have tried the availability options mentioned here but it does not help.

[2020-11-18 07:08] knutasund commented on #464
Same problem for me on 1.16.0. Happened first time during this night. Restart addon got it back up.

[2020-11-18 10:59] marcin-l opened #471 "ig"
**zigbee2mqtt add-on version (if edge, please report commit hash):**

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**

**Your entire configuration from the frontend (with sensitive fields redacted)**:
[code]

**Your logs from Home Assistant**

[2020-11-18 13:04] baldfox commented on #464
I also have mosquitto. It's happening really regularly now. Anyone managed to find a solution or workaround?

[2020-11-18 13:52] litris commented on #259
The problem still persists User and Password work correctly with secrets.yalm but network_key: '! Secret network_key' does not work when clicking on "Save" gives an error.

Any solution?

[2020-11-18 13:55] litris opened #472 "Secret network_key does not work"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
Current version: 1.16.1
**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

**Description of problem:**
The problem still persists User and Password work correctly with secrets.yalm but network_key: '! Secret network_key' does not work when clicking on "Save" gives an error.

Any solution

[2020-11-18 14:19] Erelen-Laiquendi commented on #259
Addon configuration:
[code]

secrets.yaml:
[code]
(with your real key in this format)

[2020-11-18 15:25] litris commented on #259
Ok it works!

Thanks.

[2020-11-18 15:29] litris commented on #472
Addon configuration:
[code]

secrets.yaml:
[code]
(with your real key in this format)

_Originally posted by @Erelen-Laiquendi in https://github.com/danielwelch/hassio-zigbee2mqtt/issues/259#issuecomment-729708786_

[2020-11-18 15:30] #472 closed

[2020-11-18 19:19] worker72 commented on #469
thank you for helping me.
I added the text you gave me to my configuration.yaml (replacing <FRIENDLY_NAME> with zolderthermostaat
Restarted HA. Then I look into the list of entities. Nothing.
Then I added name: zolder_pi_heating to the text, hoping that then magically the entity will appear. Again, nothing.
Should this work while the autodiscovery between zigbee2mqtt is still active for this devic

[2020-11-18 19:56] worker72 commented on #469
thanks. I am able to make a graph of this signal now.
I expected this enitity to show up in the entity list of HA, but it does not. But in certain drop down boxes I can access this signal when I type sensor.<name> so this is how I managed.
Thanks again

[2020-11-18 19:56] #469 closed

[2020-11-19 06:16] baldfox commented on #470
I also have this issue.... (running HA 0.117.6 / z2m 1.16.1)

data_path: /share/zigbee2mqtt
external_converters: []
devices: devices.yaml
groups: groups.yaml
homeassistant: true
permit_join: false
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://homeassistant'
  user: *******
  password: ********************
serial:
  port: /dev/ttyACM0
  disable_led: true
advanced:
  log_level: info
  pan_id: 67

[2020-11-19 06:19] baldfox commented on #470
![image](https://user-images.githubusercontent.com/32448665/99628999-7cdd3c00-2a61-11eb-91e2-87d20e4bf101.png)

[2020-11-19 15:30] ciotlosm commented on #470
You guys are missing:

[code]

[2020-11-19 16:22] #471 closed

[2020-11-20 07:06] taugusti opened #473 "Door sensor not presenting correct value in hass"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.16.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
RPI4
HassOS 4.17
Hass 0.117.6

**Description of problem:**
Have 2 pcs door/window sensors Xiaomi MCCGQ11LM
both work fine and reports as expected in the exposes section of the zigbee2mqtt sidebar ui
current state of the door is in

[2020-11-20 09:13] djansen1987 opened #474 "Menu button mobile"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.16.1
**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Version | 0.118.0
-- | --
Installation Type | Home Assistant OS
Development | false
Supervisor | true
Docker | true
Virtual Environment | false
Python Version | 3.8.6
Operating System Family | Linux
Operating System Version | 5.4.

[2020-11-20 12:38] baldfox commented on #470
Legend. This fixed me up! I haven't dealt with amending the {} so I deleted them after experimental and just added
  new_api: true.

thank you for your help! I'm good.

[2020-11-20 12:39] baldfox commented on #464
I updated to 0.118 and the OS (forget the version) and touch wood, something seems to have repaired itself. I no longer have the issues. I didn't change anything else aside from update a node-red HA websocket node in the palette. So for now, it seems to be working!

[2020-11-21 09:12] #470 closed

[2020-11-22 05:08] thoj commented on #464
I also upgraded it was up for 2 days then it happened again. Seems to be a issue with zigbee2mqtt and mosquitto. Could it be related to this: Koenkk/zigbee2mqtt#4999

[2020-11-22 05:10] baldfox commented on #464
I was just going to write the same. My issues returned. Such a pita.

[2020-11-22 06:17] ciotlosm commented on #464
I suggest you try opening an issue here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose
Also maybe try having a look at discord.

Unless the issues are add-on related (how it set things up for z2m to work, etc.), there is not much people can help here. Your problem is related to z2m core code and integration with mqtt unfortunately, or adapter + device related which are not much we can he

[2020-11-22 06:19] ciotlosm commented on #474
Hey @djansen1987 I think you posted in the wrong issue tracker. Could you please open an issue here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose ? This issue tracker is for the add-on wrapper and it's features only.

I agree that our template is not the best, and does not suggest this easily, but we will fix that soon.

[2020-11-22 06:20] ciotlosm commented on #473
Could you please raise this issue here https://github.com/Koenkk/zigbee2mqtt/issues/new/choose ?

[2020-11-22 06:22] ciotlosm commented on #468
This looks to be a bug with the device implementation. Could you please raise an issue here : https://github.com/Koenkk/zigbee2mqtt/issues/new/choose ? This repo is only for the add-on and does not provide device support.

[2020-11-22 06:27] ciotlosm commented on #467
Could you please raise and issue here: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose ?

Regarding your problem, I think the pairing process is not completed, otherwise you would have had "Unsupported" message in the logs.

Try the following:
- Get the device closer to the coordinator when pairing (or to a router if you have routers too)
- When pairing, after the lights blink in the right

[2020-11-22 06:29] ciotlosm commented on #466
I recommend you try https://github.com/zigbee2mqtt/hassio-zigbee2mqtt as repo and use `external_converters` method documented here: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt/blob/dev/zigbee2mqtt/DOCS.md#using-external_converters instead of `devices.js`.

You get a 502 because something is wrong with your setup when you add the devices.js and the add-on doesn't start.

[2020-11-22 06:47] taugusti commented on #473
Sure. But be fore I do it, please note that the value comming from zigbee2mqtt is correct. It is just mapped wrong in hass.
Is that not the task of the plugin?

[2020-11-22 06:55] ciotlosm commented on #473
The "plugin/add-on" just does the docker wrapping and some option setup for you. In your case the "discovery" which is an integration between z2m and mqtt is done by the add-on.

It might be that the messages showing the device look correct, but maybe the discovery message sent is wrong.

[2020-11-22 08:17] taugusti commented on #473
ahh ok - thanks for explaining!
I will post in the z2m repo

[2020-11-22 09:33] ivanovd opened #475 "Possible memory leak when there are 20+ devices connected"
**zigbee2mqtt add-on version (if edge, please report commit hash):** 1.16.1

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
[code]

**Description of problem:**

I have noticed that when I connect 20+ devices to my ZigBee network, this crashes the observer. The watchdog restarts the observer, however, after that the ZigBee2MQTT cannot connect to MQTT, e

[2020-11-22 11:18] #473 closed

[2020-11-22 14:52] djansen1987 commented on #474
Sorry Koen, i was not aware that there were multiple.

[2020-11-22 14:52] #474 closed

[2020-11-22 14:53] djansen1987 opened #476 "Menu button mobile"
**zigbee2mqtt add-on version (if edge, please report commit hash):**
1.16.1
**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**

Version | 0.118.0
-- | --
Installation Type | Home Assistant OS
Development | false
Supervisor | true
Docker | true
Virtual Environment | false
Python Version | 3.8.6
Operating System Family | Linux
Operating System Version | 5.4.

[2020-11-22 14:56] ciotlosm commented on #476
You opened on the same repo which is the add-on. This is repo is handling mostly problems with home assistant integration on the supervisor and some configuration features. Problems with the code inside Z2m should be under issues the top part: https://github.com/Koenkk/zigbee2mqtt/issues/new/choose

![Screenshot 2020-11-22 at 16 55 02](https://user-images.githubusercontent.com/7738048/99907111-9ab

[2020-11-22 15:09] ciotlosm commented on #475
I recommend trying without `zigbee2mqttassistant` and using the built-in frontend. Also you could try: https://github.com/zigbee2mqtt/hassio-zigbee2mqtt that uses automatic MQTT discovery and see if that works on restarts.

[2020-11-22 15:21] djansen1987 commented on #476
Hi,

The problem is within the addon, so i am probably at the right place now ? I am willing to help but this is the second time i am being send away, and losing my willingness to help.

[2020-11-22 15:36] ciotlosm commented on #476
@djansen1987 I'm just trying to redirect you to the right place to get the issue reviewed and maybe more help.

The idea is that https://github.com/danielwelch/hassio-zigbee2mqtt is the add-on repo that bundles code from: https://github.com/Koenkk/zigbee2mqtt.

The actual frontend code is loaded as a module from: https://github.com/nurikk/z2m-frontend

Your bug is related to the actual frontend co

[2020-11-22 16:18] djansen1987 commented on #476
@ciotlosm Thanks for taking the time to explain, what a hard way to maintain the project. But now i can understand your response. I will give it 1 last at the frontend guys

[2020-11-22 16:18] #476 closed

[2020-11-23 06:17] lymereJ commented on #264
@NathanvanSeters - I'm facing the same issue. What did you end up doing?

[2020-11-23 06:24] sunseaandpalms commented on #467
Thank you. Let me try and update here soon

[2020-11-23 07:38] ciotlosm commented on #264
@lymereJ please open a new issue with all details around version, including logs

[2020-11-23 09:08] gald33 commented on #453
Thank you for all the answers. Solved. It turns out that there was an issue with the computer itself, and I had to replace the motherboard. It somehow effected the CC2531 and made it unusable, I think something might have been wrong with the computer voltage which could explain a bunch of problems I had the following day until it the computer finally crashed. Anyway, I re-flashed the CC2531 and th

[2020-11-23 09:08] #453 closed

[2020-11-23 09:52] ivanovd commented on #475
I uninstalled zigbee2mqttassistant and that didn't make a difference. It still crashes with OOM at least once in every 24 hours:

[code]
I am wondering what can be causing this? MQTT discovery is just a workaround. I'd like to understand why having a lot of ZigBee traffic crashes the home assistant observer.

Any ideas where should I start troubleshooting from?

[2020-11-23 12:26] ciotlosm commented on #475
You would probably get better support if you posted here: https://github.com/koenkk/zigbee2mqtt
You could try to setup some parameters to monitor your processes and save those in some influx or so to see how the graphs look when memory is being consumed.

I have no such problems using z2m with more than 20 devices but I'm using HassOS (the beta on RPI4 with USB boot, from SSD).

[2020-11-23 13:12] ivanovd commented on #475
Yeah, the issue is with RPi3b+ which has only 1 GB of RAM. However, RAM shouldn't be an issue since most of the time the RAM is 99% free and the CPU usage is at 2-3
<img width="1397" alt="Screenshot 2020-11-23 151155" src="https://user-images.githubusercontent.com/4889583/99965932-4293d780-2d9e-11eb-9597-c0552843d0b4.png">
%

[2020-11-23 13:17] ciotlosm commented on #475
Interesting. I've been running my setup on a RPi3b with the same number of devices as on the RPI4 with no problems, but might have switched before the frontend was added to z2m. Could you try with the frontend disabled and see how that behaves?

[2020-11-23 13:58] ivanovd commented on #475
Okay, I did some troubleshooting. And noticed that the HA frontend reports the RAM usage of the container, not the host. The RAM usage of the host (Raspbian) is about 80-85% and the SWAP was at 100%. I am experimenting now with the size of the swap (I'm on SSD) and will see what's the correlation between the crashes of the observer and the ram/swap usage.

I will keep you updated. Thanks for the i

[2020-11-23 17:14] fabsss commented on #438
hi, tried install the add-on from the new repo but it is unable to start because in doesn't find mosquitto. I correctly copied my old config (from old repo installation) to the new config-file. I also uninstalled the old installation. but it doesn't seem to recognize the server settings. What am I doing wrong?

log-output:

[code]

config:
[code]

[2020-11-23 17:40] lymereJ opened #477 "Updating lib/extension/homeassistant.js"
**zigbee2mqtt add-on version (if edge, please report commit hash):** Edge (not sure how I can get the commit hash from the UI).

**Operating environment (HassOS, Virtual Machine, Device/platform running Home Assistant):**
HassOS

**Description of problem:** I've added a new device to `devices.js` and just like #264, while the device is paired and published to the zigbee2mqtt log, it does not show

[2020-11-23 18:14] ciotlosm commented on #438
@fabsss this is a bug caused by https://github.com/zigbee2mqtt/hassio-zigbee2mqtt/blob/752b569062ed4eb5e81b191490955cba36102d93/common/rootfs/etc/cont-init.d/zigbee2mqtt.sh#L7

[2020-11-23 19:07] ciotlosm commented on #438
@fabsss can you test edge version from repo ?

[2020-11-23 19:12] fabsss commented on #438
I tried the edge-version from the "new" repro with the same results as above. I switched to the edge version of the non-fork repo and this seems to be working.